.main-header {
  min-height: 51px;
}

.form-wrap {
  max-width: 560px;
  margin: 20px auto 0;
  font-size: 14px;
  &.preview {
    max-width: 680px;
  }
}

.to-discounts {
  margin-bottom: 15px;
}

.status-wrap {
  display: flex;
  align-items: flex-start;
}

.title-edit-wrap {
  display: flex;
  justify-content: space-between;
}

.discounts__links__dropdown {
  display: block; // position: absolute;
  // top: 142px;
  // left: 50%;
  // transform: translate(-50%);
  // display: flex;
  // flex-direction: column;
  // background-color: #fff;
  // border: 1px solid $border;
  // border-radius: 3px;
  // width: 560px;
  // height: 287px;
}

.dropdown__title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid $border;
  padding-left: 20px;
  padding-right: 15px;
}

.dropdown__body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: auto;
  margin-top: 10px;
  flex-grow: 1;
  .control {
    margin-bottom: 5px;
  }
  &.preview {
    align-items: center;
  }
}

.discount__dropdown__info {
  display: block;
  margin-bottom: 20px;
}

.discount__link-to {
  margin-left: 20px;
}

.dropdown__footer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  border-top: 1px solid $border;
  padding: 10px 20px;
}

.discounts__links {
  display: flex;
  flex-direction: column;
  margin-left: 0;
  list-style: none;
  background-color: #fff;
  width: 100%;
  padding: 0 20px;
}

.discounts__link {
  display: flex;
  width: 100%;
  margin-bottom: 10px; // height: 40px;
  .button-submit {
    min-width: 90px;
    margin-left: 15px;
  }
}

.form-title {
  margin-top: 10px;
  margin-bottom: 15px;
}

.discount-status__checkbox {
  display: flex;
  align-items: center;
  width: 80px;
  margin-bottom: 20px;
  color: #637381;
  cursor: pointer;
  &.promote {
    margin-left: 20px;
  }
  &:hover {
    color: #212b35; // .status-icon {
    //   fill: #212b35;
    // }
  }
}

.discount__form {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0 auto 30px;
}

.form__section {
  position: relative;
  margin-bottom: 20px;
  padding: 20px;
  border: 1px solid $border;
  border-radius: 3px;
  background-color: #fff;
  &.discount-view {
    width: 50%;
    flex-direction: row;
  }
}

.form__section--code {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  .section__label {
    margin-bottom: 0;
  }
}

.code-info {
  margin-top: 10px;
  margin-bottom: 0;
  font-size: 14px;
  color: #637381;
}

.discount-type__wrap {
  display: flex;
}

.discount-type__section {
  width: 50%;
}

.discount-value__wrap {
  position: relative;
}

.discount-type__icon {
  position: absolute;
  &.percent {
    right: 10px;
    top: 32px;
  }
  &.amount {
    top: 32px;
    left: 10px;
  }
}

.section__label {
  display: block;
  margin-bottom: 20px;
  font-size: 18px;
  font-weight: 700;
  text-transform: capitalize;
  &.no-capitalize {
    text-transform: none;
  }
}

.form__label {
  display: block;
  margin-bottom: 5px;
  text-transform: capitalize;
}

.form__input {
  display: block;
  width: 100%;
  padding: 10px 0 10px 10px;
  border: 1px solid $border;
  border-radius: 3px;
  transition: all .2s ease;
  &.discount-value {
    padding-left: 20px;
  }
  &.discount-percentage {
    padding-right: 20px;
  }
  &:focus {
    outline-color: #5c6ac4;
    box-shadow: 0 0 0 1px #5c6ac4;
    transition: all .2s ease;
  }
}

.input-link {
  width: 100%;
}

.controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.control {
  font-size: inherit;
}

.picker-item {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
  &.view {
    justify-content: flex-start;
  }
  &__block {
    display: flex;
    align-items: center;
  }
}

.toggle-variants {
  position: absolute;
  left: 50%;
  transform: translate(-60%);
  bottom: 13px;
  color: $gray;
  font-size: 12px;
  &:focus {
    outline: none;
    font-weight: 700;
  }
  &.view {
    position: static;
    display: inline-block;
    transform: translate(0);
    margin-left: 10px;
    font-size: 10px;
  }
}

.image-wrap {
  position: relative;
  width: 40px;
  height: 40px;
  margin-right: 15px;
  border: 1px solid rgba(195, 207, 216, .3);
  img {
    position: absolute;
    max-width: 100%;
    max-height: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
  }
}

.discount-status.status-label {
  position: relative;
  display: inline-block;
  top: -5px;
  left: -5px;
  transform: scale(.7);
}

.picker-variants {
  margin-left: -10px;
  list-style: none;
  &.preview {
    margin-left: -10px;
  }
  li {
    padding-top: 0;
    padding-bottom: 10px;
    border-top: 1px solid $border; // margin-right: 10px;
    &:last-child {
      border-bottom: 1px solid $border;
      margin-bottom: 20px;
    }
    &:hover {
      background-color: #f9fafb;
    }
  }
}

.promote-label {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  .truncate {
    max-width: 100%;
  }
}

.picker-item.promote {
  margin-top: 0;
}

.preview .theme-wrap {
  position: relative;
  min-height: 215px;
  .sdl-theme {
    position: relative;
    top: 0;
    bottom: 0;
    transform: translateY(0); // left: 0;
    // right: 0;
    // margin: auto;
    // z-index: 400;
    // top: 80px;
  }
}
