<section class="form-wrap preview">
    <button type="button" class="button-default button-back to-discounts" data-goBack>
        <svg class="nav-icon back-icon" width="24" height="24">
            <use xlink:href="#back" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
        </svg>
        Links
    </button>

    <form class="discount__form" data-form>


        <div class="form__section">
            {% include "templates/links/link/helpers/promote" %}
        </div>
         {% if data.link_type !== 'checkout' %}
            <div class="form__section">
                <div class="theme-wrap">
                    {% include "templates/links/link/helpers/theme" %}
                </div>
            </div>
         {% endif %}
    </form>
</section>
