.discounts {
  &__tdata {
    text-align: left;
    padding-top: 7px;
    padding-bottom: 7px;
    border-bottom: 1px solid $border;
    &--check {
      padding-left: 7px;
    }
  }
  .discounts__tdata--link--type {
    text-transform: capitalize;
  }
  .controls__wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    &.invisible {
      visibility: hidden;
    }
  }
  .dsicount-link {
    color: $blue;
    cursor: pointer;
    font-family: Monaco, Consolas, Lucida Console, monospace;
  }
  .discount-action {
    &.invisible {
      visibility: hidden;
    }
  }
}

.discount-status {
  background-color: $expired-bg;
  color: $expired-color;
  padding: 2px 8px;
  border-radius: 20px;
  font-size: 13px;
  &.active {
    background-color: $active-bg;
    color: $active-color;
  }
}

.control-icon {
  fill: #919eab;
  cursor: pointer;
  margin-right: 7px;
  &.status {
    // position: relative;
    fill: #919eab; // top: 2px;
    opacity: .8;
    transform: scale(1.1);
  }
}
