<section class="form-wrap">
    <div class="navigate link">
        <button type="button" class="button-default button-back" data-goBack>
                <svg class="nav-icon back-icon" width="24" height="24">
                    <use xlink:href="#back" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                </svg>
                Links
            </button>
        {% if not data.new %}
            <button type="button" class="button-default button-back to-discount" data-goBackToDiscount>
                <svg class="nav-icon back-icon" width="24" height="24">
                    <use xlink:href="#back" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                </svg>
                Link
            </button>
        {% endif %}
    </div>

    {# <h1 class="form-title">
        {{ data.title }}
        <span class="discount-status status-label {{ 'active' if data.status else 'expired' }} {{ 'hidden' if data.new }}" data-statusColor>
            {{ 'Active' if data.status else 'Expired' }}
        </span>
    </h1> #}

    <div class="status-wrap {{ 'hidden' if data.new }} hidden">
        <input
        type="checkbox"
        name="status"
        data-status
        {{ 'checked' if data.new }}
        {{ 'checked' if data.status }}
        class="hidden"
        id="status">
        <label for="status" class="discount-status__checkbox" data-statusLabel>
            <svg class="nav-icon status-icon {{ 'disable' if data.status else 'enable' }}" width="24" height="24">
                <use xlink:href="#{{ 'disable' if data.status else 'enable' }}" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
            </svg>
            {{ 'Disable' if data.status else 'Enable' }}
        </label>
    </div>


    <form class="discount__form" data-form>
        <div class="hidden">
            <input
            type="checkbox"
            name="status"
            data-hiddenStatus
            {{ 'checked' if data.new }}
            {{ 'checked' if data.status }}>
        </div>

        <div class="form__section">
            <label for="title" class="section__label">title</label>
            <input
            type="text"
            name="title"
            value="{{ data.title }}"
            data-titleInput
            class="form__input"
            id="title">
        </div>
        <div class="form__section">
            <label class="section__label">discount</label>
            <div class="select form__input full-width" data-select>
                {% if data.new %}
                    Select discount
                {% else %}
                    {{ data.discount.code }} &nbsp;&bull;&nbsp;
                    {% if data.discount.type === 'free_shipping' %}
                        Free Shipping
                    {% else %}
                        {{ (data.discount.value | replace('-', '')) + '% off' if data.discount.type === 'percentage' }}
                        {{ (data.discount.value | replace('-', '')) + (data.currency | currency) + ' off' if data.discount.type === 'fixed_amount' }}
                    {% endif %}
                {% endif %}
            </div>
            <input type="hidden" name="discount_type" value="{{ data.discount.price_rule_id }}" data-discount_type>
        </div>

        {# <div class="form__section">
            <div class="form__section--code">
                <label for="code" class="section__label">code</label>
                <button type="button" class="button-default button-generate" data-generate>Generate code</button>
            </div>
            <input
            type="text"
            name="code"
            value="{{ data.code }}"
            data-code
            class="form__input"
            id="code"
            required>

            <p class="code-info">
                Customers will enter this discount code at checkout.
            </p>
        </div> #}

        {# <div class="form__section">
            <label class="section__label">options</label>

            <div class="discount-type__wrap">
                <div class="discount-type__section">
                    <label for="discount_type" class="form__label">discount type</label>
                    <div class="select {{ 'full-width' if data.discount_type === 'free_shipping' }}" data-select>
                        <select
                            name="discount_type"
                            data-discount_type
                            id="discount_type">
                            <option value="percentage" {{ 'selected' if data.discount_type === 'percentage' }}>Percentage discount</option>
                            <option value="amount" {{ 'selected' if data.discount_type === 'amount' }}>Fixed amount</option>
                            <option value="free_shipping" {{ 'selected' if data.discount_type === 'free_shipping' }}>Free shipping</option>
                        </select>
                    </div>
                </div>

            <div class="discount-type__section">
                <div class="discount-value__wrap {{ 'hidden' if data.discount_type === 'free_shipping' }}" data-value>
                    <label for="value" class="form__label">discount value</label>
                    <input
                    type="{{ 'text' if data.discount_type === 'amount' }} {{ 'number' if data.discount_type === 'percentage' }}"
                    name="value"
                    value="{{ data.value }}"
                    data-inputValue
                    class="form__input {{ 'discount-value' if data.discount_type === 'amount' }} {{ 'discount-percentage' if data.discount_type === 'percentage' }}"
                    id="value">
                    <div class="discount-type__icon percent {{ 'hidden' if data.discount_type !== 'percentage' }}" data-icon="percentage">
                        %
                    </div>
                    <div class="discount-type__icon amount {{ 'hidden' if data.discount_type !== 'amount' }}" data-icon="amount">
                        {{ data.currency | currency }}
                    </div>
                </div>
            </div>
        </div>
    </div> #}

    <div class="form__section {{ 'hidden' if data.discount_type === 'free_shipping' }}" data-appllies_toSection>
        <label class="section__label">link to</label>

        <label class="control radio" data-label>Homepage
            <input
            type="radio"
            name="link_type"
            value="homepage"
            data-link_type
            {{ 'checked' if data.link_type === 'homepage' }}
            id="cart">
            <span class="control-indicator" data-variant-indicator></span>
            <span class="control-indicator-ring" tabindex="0" data-radio-ring></span>
        </label>

        <label class="control radio" data-label>Specific collection
            <span class="toggle-variants view {{ 'hidden' if data.link_type !== 'collection' }}" data-edit="collection">(edit)</span>
            <input
            type="radio"
            name="link_type"
            value="collection"
            data-link_type
            {{ 'checked' if data.link_type === 'collection' }}
            id="collection">
            <span class="control-indicator" data-variant-indicator></span>
            <span class="control-indicator-ring" tabindex="0" data-radio-ring></span>
        </label>

        <label class="control radio" data-label>Specific product
            <span class="toggle-variants view {{ 'hidden' if data.link_type !== 'product' }}" data-edit="product">(edit)</span>
            <input
            type="radio"
            name="link_type"
            value="product"
            data-link_type
            {{ 'checked' if data.link_type === 'product' }}
            id="discount_type_percent">
            <span class="control-indicator" data-variant-indicator></span>
            <span class="control-indicator-ring" tabindex="0" data-radio-ring></span>
        </label>

        <label class="control radio" data-label>Specific variant
            <span class="toggle-variants view {{ 'hidden' if data.link_type !== 'variant' }}" data-edit="variant">(edit)</span>
            <input
            type="radio"
            name="link_type"
            value="variant"
            data-link_type
            {{ 'checked' if data.link_type === 'variant' }}
            id="discount_type_percent">
            <span class="control-indicator" data-variant-indicator></span>
            <span class="control-indicator-ring" tabindex="0" data-radio-ring></span>
        </label>

        <label class="control radio" data-label>Cart
            <span class="toggle-variants view {{ 'hidden' if data.link_type !== 'cart' }}" data-edit="cart">(edit)</span>
            <input
            type="radio"
            name="link_type"
            value="cart"
            data-link_type
            {{ 'checked' if data.link_type === 'cart' }}
            id="discount_type_percent">
            <span class="control-indicator" data-variant-indicator></span>
            <span class="control-indicator-ring" tabindex="0" data-radio-ring></span>
        </label>

        <label class="control radio" data-label>Checkout
            <span class="toggle-variants view {{ 'hidden' if data.link_type !== 'checkout' }}" data-edit="checkout">(edit)</span>
            <input
            type="radio"
            name="link_type"
            value="checkout"
            data-link_type
            {{ 'checked' if data.link_type === 'checkout' }}
            id="discount_type_percent">
            <span class="control-indicator" data-variant-indicator></span>
            <span class="control-indicator-ring" tabindex="0" data-radio-ring></span>
        </label>

        <div class="{% if data.link_type === 'homepage' or data.link_type === 'collection' %}hidden{% endif %}" data-productPicker>
            <button type="button" class="button-defalt button-base hidden" data-picker="productPicker">Browse</button>

            <div class="picker-product" data-product>
                {% if data.link_type === 'product' %}
                    {% include "templates/links/link/helpers/product.njk" %}
                {% elif data.link_type === 'variant' or data.link_type === 'cart' or data.link_type === 'checkout' %}
                    {% include "templates/links/link/helpers/variant.njk" %}
                {% endif %}
            </div>
        </div>

        <div class="{{ 'hidden' if data.link_type !== 'collection' }}" data-collectionPicker>
            <button type="button" class="button-defalt button-base hidden" data-picker="collectionPicker">Browse</button>

            <div class="picker-collection" data-collection>
                {% include "templates/links/link/helpers/collection.njk" %}
            </div>
        </div>
        {# <button type="button" class="button-default toggle-variants hidden" data-toggleVariants>
            Hide
        </button> #}
    </div>

    <input
    type="hidden"
    name="link_to"
    value="{{ data.link_to }}"
    data-link_to
    id="link"
    class="input-link"
    required>

    <div class="controls">
        {% if not data.new %}
            <button type="button" class="button-default button-base button-remove" data-deleteDiscount>Delete link</button>
        {% endif %}

        <button type="reset" class="button-default button-base" data-reset hidden if data.new !== true>Cancel</button>
        <button type="submit" class="button-default button-base button-submit" data-submit>Save {% if data.new %} link {% endif %}</button>
    </div>

    </form>
</section>
{# {% include "templates/links/link/helpers/discount-modal/template.njk" %} #}
