a {
  color: $main;
  text-decoration: none;
}

.hidden {
  display: none !important;
}

.button-back {
  position: relative;
  left: -5px;
  display: flex;
  align-items: center;
  color: #637381;

  &:hover {
    color: #212b35;

    .back-icon {
      fill: #212b35;
    }
  }
}

.button-default {
  margin: 0;
  padding: 0;
  border: none;
  box-shadow: none;
  background-color: transparent;
  cursor: pointer;
}

.button-base {
  border-radius: 3px;
  outline: none;
  border: 1px solid #C4CDD5;
  color: #212C36;
  font-size: 14px;
  padding: 10px 15px;
  cursor: pointer;
  transition: all .2s ease;
  background: linear-gradient(to bottom, #fff, #f9fafb);
  box-shadow: 0 1px 0 0 rgba(22,29,37,0.05);

  &:hover {
    background: linear-gradient(to bottom, #f9fafb, #f4f6f8);
    border-color: #c4cdd5;
  }

  &:focus {
    border-color: #5C6AC4;
    box-shadow: 0 1px 0 0 rgba(22,29,37,.05), 0 0 0 1px #5C6AC4;
  }
}

.button-submit {
  background: linear-gradient(to bottom, #6371c7, #5563c1);
  border-color: #3F4EAE;
  color: #FFF;
  box-shadow: inset 0 1px 0 0 #6F7BCB;

  &:hover {
    background: linear-gradient(to bottom, #5C6AC4, #4959BD);
    border-color: #3F4EAE;
  }

  &:focus {
    border-color: #5c6ac4;
    box-shadow: 0 1px 0 0 rgba(22,29,37,0.05), 0 0 0 1px #5c6ac4;
  }

  &:disabled {
    background: #BAC0E6;
    border-color: #A7AEDF;
    box-shadow: none;
    color: #FFF;
    cursor: default;
  }
}

.button-remove {
  background: linear-gradient(to bottom, #ee6b50, #ec5b3e);
  border-color: #e83c19;
  color: #FFF;
  box-shadow: inset 0 1px 0 0 #ef775e;

  &:hover {
    background: linear-gradient(to bottom, #ed6347, #eb4f30);
    border-color: #e83c19;
  }

  &:focus {
    border-color: #bf0711;
    box-shadow: inset 0 1px 0 0 #ef775e, 0 0 0 1px #bf0711;
  }
}

.button-generate {
  font-size: 14px;
  color: $blue;

  &:hover {
    color: #084e8a;
    text-decoration: underline;
  }
}

.button-select {
  width: 100%;
  height: 100%;
  text-align: left;
  padding-left: 15px;
  border-radius: 3px;
}

.margin-top-20 {
  margin-top: 20px;
}

.truncate {
  display: block;
  /* stylelint-disable */
  display: -webkit-inline-box;
  /* stylelint-enable */
  // height: 16px * 1.4;
  max-height: 16px * 1.4;
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  -webkit-box-align: end;
  // max-width: 70%;

  &.double {
    -webkit-line-clamp: 2;
    max-height: 16px * 1.4 * 2;
  }
}
