<section class="form-wrap preview">
    <button type="button" class="button-default button-back to-discounts" data-goBack>
        <svg class="nav-icon back-icon" width="24" height="24">
            <use xlink:href="#back" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
        </svg>
        Discounts
    </button>

    <form class="discount__form" data-form>
        <div class="form__section discount-view">
            <div class="title-edit-wrap">
                <h1 class="form-title">
                    {{ data.title }}
                    <span class="discount-status status-label {{ 'active' if data.status else 'expired' }} {{ 'hidden' if data.new }}" data-statusColor>
                        {{ 'Active' if data.status else 'Expired' }}
                    </span>
                </h1>
                <button type="button" class="button-default control-icon" data-edit data-id="{{ item.id }}" data-thead title="Edit">
                    <svg class="control-icon edit" width="24" height="24">
                        <use xlink:href="#edit" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                    </svg>
                </button>
            </div>

            <label for="code" class="section__label">{{ data.code }}</label>
            {% if data.discount_type === 'free_shipping' %}
                Free Shipping
            {% else %}
                {{ data.value }} {{ data.currency | currency if data.discount_type === 'amount' else '%' }} off
                {{ 'entire order' if data.applies_to === 'cart' }}
            {% endif %}

            <div class="{{ 'hidden' if data.applies_to !== 'product' }}" data-productPicker>
                {# <button type="button" class="button-defalt button-base" data-picker="productPicker">Browse</button> #}

                <div class="picker-product" data-product>
                    {% include "templates/discounts/discount/helpers/product.njk" %}
                </div>

                <ul class="picker-variants hidden {{ 'preview' if data.isView }}" data-variants>
                    {% for item in data.product.variants %}
                        <li data-variant_item>{% include "templates/discounts/discount/helpers/variant.njk" %}</li>
                    {% endfor %}
                </ul>
            </div>
            <button type="button" class="button-default toggle-variants hidden" data-toggleVariants>
                Hide
            </button>

            <div class="{{ 'hidden' if data.applies_to !== 'collection' }}" data-collectionPicker>
                {# <button type="button" class="button-defalt button-base" data-picker="collectionPicker">Browse</button> #}

                <div class="picker-collection" data-collection>
                    {% include "templates/discounts/discount/helpers/collection.njk" %}
                </div>
            </div>
        </div>

        <div class="form__section">
            {% include "templates/discounts/discount/helpers/promote" %}
        </div>
    </form>
</section>
