<table class="discounts__table" data-table>
    <thead>
        <tr>
            <th class="discounts__thead discounts__thead--check">
                <div class="ckeck-all__wrap"></div>
                <label class="control control--checkbox thead__checkbox" title="Select all links">
                    <input type="checkbox" class="check-all" data-checkAll>
                    <div class="control__indicator"></div>
                </label>
                <div class="discounts__thead--on-check-info hidden" data-onCheckInfo>
                    <span class="discounts__thead--info" data-info></span>

                    <div class="select select--action">
                        <button type="button" class="button-default button-select" data-toggleDropdown>Actions</button>
                    </div>
                    <ul class="action-dropdown" data-dropdown>
                        <li class="action-dropdown__item" data-action="enable">Enable links</li>
                        <li class="action-dropdown__item" data-action="disable">Disable links</li>
                        <li class="action-dropdown__item" data-action="delete">Delete links</li>
                    </ul>
                </div>
            </th>
            <th class="discounts__thead discounts__thead--title" data-thead>Title</th>
            {#
            <th class="discounts__thead discounts__thead--code">Code</th> #}
            <th class="discounts__thead discounts__thead--link-to" data-thead>Link</th>
            <th class="discounts__thead discounts__thead--link-type" data-thead>Type</th>
            <th class="discounts__thead discounts__thead--type" data-thead>Discount</th>
            <th class="discounts__thead discounts__thead--status" data-thead>Status</th>
            {#
            <th class="discounts__thead discounts__thead--type">Value</th> #} {#
            <th class="discounts__thead discounts__thead--applies_to">Applies to</th> #}
            <th class="discounts__thead discounts__thead--controls" data-thead>Actions</th>
        </tr>
        {% include "templates/links/item/template" %}
    </thead>
</table>

<div class="empty-wrap hidden" data-empty>
    {% include "templates/links/empty/template" %}
</div>

{#
<button type="button" data-create>create</button> #}
