{% if data.custom_theme %}
    {% set code = data.discount.code %}
    {% set data = data.custom_theme.data %}
    {{ data | addDataToObject('code', code) }}
{% endif %}

{% if item %}
    {% set data = item.data %}
    {% set id = item.id %}
    {% set code = '_code_' %}
    {{ data | addDataToObject('code', code) }}
{% elif custom %}
    {% set data = custom.data %}
    {% set id = custom.id %}
{% endif %}

<style>
.hidden {
  display: none !important;
}
.sdl-theme{{ '.id-' + id if id }} section,
.sdl-theme{{ '.id-' + id if id }} div,
.sdl-theme{{ '.id-' + id if id }} span,
.sdl-theme{{ '.id-' + id if id }} button {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
.sdl-theme{{ '.id-' + id if id }} button {
  width: auto;
  overflow: visible;
  background: transparent;
  color: inherit;
  font: inherit;
  line-height: normal;
  outline: none;
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;
  -webkit-appearance: none;
}
.sdl-theme{{ '.id-' + id if id }} * {
  box-sizing: border-box;
}
.sdl-theme{{ '.id-' + id if id }} {
  position: fixed;
  top: {{ data.theme.position.top }}%;
  bottom: {{ data.theme.position.bottom }}%;
  {{ 'position: relative;' if id }}
  {{ 'top: 0;' if id }}
  {{ 'bottom: 0;' if id }}
  left: {{ data.theme.position.left }}%;
  right: {{ data.theme.position.right }}%;
  {{ 'transform: translateY(-50%);' if data.theme.position.y === 'top' }}
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 300px;
  min-height: 160px;
  padding: 10px;
  padding-right: 30px;
  border-radius: {{ data.corner }}px;
  border: {{ data.border.size }}px solid {{ data.border.color }};
  {{ 'border: none' if data.border.state === false }};
  text-align: center;
  line-height: 1.4;
  background-color: {{ data.theme.color }};
  background-image: url( {{ data.image.src if data.image.position === 'background' }} );
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  overflow: hidden;
  z-index: 2147483647;
}
.sdl-theme{{ '.id-' + id if id }} .sdl-theme__text {
  color: {{ data.text.color }};
  font-style: {{ data.text.style }};
  font-size: {{ data.text.size }}px;
  font-family: {{ data.text.family }};
  font-weight: {{ data.text.weight }};
  text-decoration: {{ data.text.decoration }};
  order: {{ data.text.order }};
}
.sdl-theme{{ '.id-' + id if id }} .sdl-theme__secondary {
  color: {{ data.secondary.color }};
  font-style: {{ data.secondary.style }};
  font-size: {{ data.secondary.size }}px;
  font-family: {{ data.secondary.family }};
  font-weight: {{ data.secondary.weight }};
  text-decoration: {{ data.secondary.decoration }};
  order: {{ data.secondary.order }};
}
.sdl-theme{{ '.id-' + id if id }} .sdl-theme__thirdly {
  color: {{ data.thirdly.color }};
  font-style: {{ data.thirdly.style }};
  font-size: {{ data.thirdly.size }}px;
  font-family: {{ data.thirdly.family }};
  font-weight: {{ data.thirdly.weight }};
  text-decoration: {{ data.thirdly.decoration }};
  order: {{ data.thirdly.order }};
}
.sdl-theme{{ '.id-' + id if id }} .sdl-theme__code-text {
  color: {{ data.code_text.color }};
  font-style: {{ data.code_text.style }};
  font-size: {{ data.code_text.size }}px;
  font-family: {{ data.code_text.family }};
  font-weight: {{ data.code_text.weight }};
  text-decoration: {{ data.code_text.decoration }};
  order: {{ data.code_text.order }};
}
.sdl-theme{{ '.id-' + id if id }} .sdl-theme__timer {
  display: flex;
  padding-top: 5px;
  line-height: 1;
  color: {{ data.timer.color }};
  font-style: {{ data.timer.style }};
  font-size: {{ data.timer.size }}px;
  font-family: {{ data.timer.family }};
  font-weight: {{ data.timer.weight }};
  text-decoration: {{ data.timer.decoration }};
  order: {{ data.timer.order }};
}
.sdl-theme{{ '.id-' + id if id }} .sdl-timer__item {
  display: flex;
  justify-content: space-around;
  min-width: 1.5em;
}
.sdl-theme{{ '.id-' + id if id }} .sdl-timer__item:last-child {
  justify-content: flex-start;
}
.sdl-theme{{ '.id-' + id if id }} .sdl-theme__separator {
  margin: -3px 7px;
}
.sdl-theme{{ '.id-' + id if id }} .sdl-theme__close {
  position: absolute;
  top: 0;
  right: 5px;
  cursor: pointer;
}
.sdl-theme{{ '.id-' + id if id }} .sdl-theme__icon {
  position: absolute;
  top: 10px;
  right: 5px;
  fill: {{ data.close.color }};
}
.sdl-theme{{ '.id-' + id if id }} .sdl-theme__icon:hover {
  filter: brightness(75%);
}
</style>

<section class="sdl-theme {{ 'id-' + id if id }}" data-prev="theme" data-sdl-popup>
    <div class="sdl-theme__text {{ 'hidden' if data.text.state === false }}"
        data-textPrev data-prev="text" data-drag-prev="text">
        {{ data.text.prev | safe }}
    </div>
    <div class="sdl-theme__secondary {{ 'hidden' if data.secondary.state === false }}"
        data-secondaryPrev data-prev="secondary" data-drag-prev="secondary">
        {{ data.secondary.value }}
    </div>
    <div class="sdl-theme__thirdly {{ 'hidden' if data.thirdly.state === false }}"
        data-thirdlyPrev data-prev="thirdly" data-drag-prev="thirdly">
        {{ data.thirdly.value }}
    </div>
    <div class="sdl-theme__code-text {{ 'hidden' if data.code_text.state === false }}"
        data-drag-prev="code_text" data-prev="code_text" data-code_textPrev>
        <span data-code_text-value>{{ data.code_text.value }}</span>
        <span>{{ data.code }}</span>
    </div>
    <div class="sdl-theme__timer {{ 'hidden' if data.timer.state === false }}" data-timer data-drag-prev="timer" data-prev="timer" data-timerPrev>
        <span class="sdl-timer__item {{ 'hidden' if data.timer.states.day === false }}">
            <span data-timer-prev="day">{{ data.timer.day }}</span>
            <span data-timer-sep="day" class="sdl-theme__separator">:</span>
        </span>
        <span class="sdl-timer__item {{ 'hidden' if data.timer.states.hour === false }}">
            <span data-timer-prev="hour">{{ data.timer.hour }}</span>
            <span data-timer-sep="hour" class="sdl-theme__separator">:</span>
        </span>
        <span class="sdl-timer__item">
            <span data-timer-prev="min">{{ data.timer.min }}</span>
            <span class="sdl-theme__separator">:</span>
        </span>
        <span class="sdl-timer__item" data-timer-prev="sec">00</span>
    </div>
    <div class="sdl-theme__code-text {{ 'hidden' if data.image.state === false }}"
        data-drag-prev="image" data-prev="image">
        <span data-image-value>{{ data.image.value }}</span>
    </div>
    <button type="button" class="sdl-theme__close" data-close>
        <svg class="sdl-theme__icon" data-prev="close" fill="#fff" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
            <path d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z"/>
            <path d="M0 0h24v24H0z" fill="none"/>
        </svg>
    </button>
</section>
