<section class="form-wrap">
    <div class="navigate">
        <button type="button" class="button-default button-back" data-goBack>
                <svg class="nav-icon back-icon" width="24" height="24">
                    <use xlink:href="#back" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                </svg>
                Discounts
            </button>
        {% if not data.new %}
            <button type="button" class="button-default button-back to-discount" data-goBackToDiscount>
                <svg class="nav-icon back-icon" width="24" height="24">
                    <use xlink:href="#back" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                </svg>
                Discount
            </button>
        {% endif %}
    </div>

    <h1 class="form-title">
        {{ data.title }}
        <span class="discount-status status-label {{ 'active' if data.status else 'expired' }} {{ 'hidden' if data.new }}" data-statusColor>
            {{ 'Active' if data.status else 'Expired' }}
        </span>
    </h1>

    <div class="status-wrap {{ 'hidden' if data.new }}">
        <input
        type="checkbox"
        name="status"
        data-status
        {{ 'checked' if data.new }}
        {{ 'checked' if data.status }}
        class="hidden"
        id="status">
        <label for="status" class="discount-status__checkbox" data-statusLabel>
            <svg class="nav-icon status-icon {{ 'disable' if data.status else 'enable' }}" width="24" height="24">
                <use xlink:href="#{{ 'disable' if data.status else 'enable' }}" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
            </svg>
            {{ 'Disable' if data.status else 'Enable' }}
        </label>
    </div>


    <form class="discount__form" data-form>
        <div class="hidden">
            <input
            type="checkbox"
            name="status"
            data-hiddenStatus
            {{ 'checked' if data.new }}
            {{ 'checked' if data.status }}>
        </div>

        <div class="form__section">
            <label for="title" class="section__label">title</label>
            <input
            type="text"
            name="title"
            value="{{ data.title }}"
            class="form__input"
            id="title"
            required>
        </div>

        <div class="form__section">
            <div class="form__section--code">
                <label for="code" class="section__label">code</label>
                <button type="button" class="button-default button-generate" data-generate>Generate code</button>
            </div>
            <input
            type="text"
            name="code"
            value="{{ data.code }}"
            data-code
            class="form__input"
            id="code"
            required>

            <p class="code-info">
                Customers will enter this discount code at checkout.
            </p>
        </div>

        <div class="form__section">
            <label class="section__label">options</label>

            <div class="discount-type__wrap">
                <div class="discount-type__section">
                    <label for="discount_type" class="form__label">discount type</label>
                    <div class="select {{ 'full-width' if data.discount_type === 'free_shipping' }}" data-select>
                        <select
                            name="discount_type"
                            data-discount_type
                            id="discount_type">
                            <option value="percentage" {{ 'selected' if data.discount_type === 'percentage' }}>Percentage discount</option>
                            <option value="amount" {{ 'selected' if data.discount_type === 'amount' }}>Fixed amount</option>
                            <option value="free_shipping" {{ 'selected' if data.discount_type === 'free_shipping' }}>Free shipping</option>
                        </select>
                    </div>
                </div>

            <div class="discount-type__section">
                <div class="discount-value__wrap {{ 'hidden' if data.discount_type === 'free_shipping' }}" data-value>
                    <label for="value" class="form__label">discount value</label>
                    <input
                    type="{{ 'text' if data.discount_type === 'amount' }} {{ 'number' if data.discount_type === 'percentage' }}"
                    name="value"
                    value="{{ data.value }}"
                    data-inputValue
                    class="form__input {{ 'discount-value' if data.discount_type === 'amount' }} {{ 'discount-percentage' if data.discount_type === 'percentage' }}"
                    id="value">
                    <div class="discount-type__icon percent {{ 'hidden' if data.discount_type !== 'percentage' }}" data-icon="percentage">
                        %
                    </div>
                    <div class="discount-type__icon amount {{ 'hidden' if data.discount_type !== 'amount' }}" data-icon="amount">
                        {{ data.currency | currency }}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="form__section {{ 'hidden' if data.discount_type === 'free_shipping' }}" data-appllies_toSection>
        <label class="section__label">applies to</label>

        <label class="control radio" data-label>Entire order
            <input
            type="radio"
            name="applies_to"
            value="cart"
            data-appllies_to
            {{ 'checked' if data.applies_to === 'cart' }}
            id="cart">
            <span class="control-indicator" data-variant-indicator></span>
            <span class="control-indicator-ring" tabindex="0" data-radio-ring></span>
        </label>

        <label class="control radio" data-label>Specific collection
            <input
            type="radio"
            name="applies_to"
            value="collection"
            data-appllies_to
            {{ 'checked' if data.applies_to === 'collection' }}
            id="collection">
            <span class="control-indicator" data-variant-indicator></span>
            <span class="control-indicator-ring" tabindex="0" data-radio-ring></span>
        </label>

        <label class="control radio" data-label>Specific product
            <input
            type="radio"
            name="applies_to"
            value="product"
            data-appllies_to
            {{ 'checked' if data.applies_to === 'product' }}
            id="discount_type_percent">
            <span class="control-indicator" data-variant-indicator></span>
            <span class="control-indicator-ring" tabindex="0" data-radio-ring></span>
        </label>

        <div class="{{ 'hidden' if data.applies_to !== 'product' }}" data-productPicker>
            <button type="button" class="button-defalt button-base" data-picker="productPicker">Browse</button>

            <div class="picker-product" data-product>
                {% include "templates/discounts/discount/helpers/product.njk" %}
            </div>
        </div>

        <button type="button" class="button-default toggle-variants hidden" data-toggleVariants>
            Hide
        </button>

        <div class="{{ 'hidden' if data.applies_to !== 'collection' }}" data-collectionPicker>
            <button type="button" class="button-defalt button-base" data-picker="collectionPicker">Browse</button>

            <div class="picker-collection" data-collection>
                {% include "templates/discounts/discount/helpers/collection.njk" %}
            </div>
        </div>
    </div>

    <input
    type="hidden"
    name="links"
    value="{{ data.links }}"
    data-discountLink
    id="link"
    class="input-link"
    required>

    <div class="controls">
        {% if not data.new %}
            <button type="button" class="button-default button-base button-remove" data-deleteDiscount>Delete discount</button>
        {% endif %}

        <button type="reset" class="button-default button-base" data-reset hidden if data.new !== true>Cancel</button>
        <button type="submit" class="button-default button-base button-submit" data-submit>Save {% if data.new %} discount {% endif %}</button>
    </div>

    </form>
</section>
