<input type="hidden" name="product[id]" value="{{ data.product.id }}">
<input type="hidden" name="product[title]" value="{{ data.product.title }}">
<input type="hidden" name="product[image]" value="{{ data.product.image }}">

<input type="hidden" name="collection[id]" value="{{ data.collection.id }}">
<input type="hidden" name="collection[title]" value="{{ data.collection.title }}">
<input type="hidden" name="collection[image]" value="{{ data.collection.image }}">
