<div class="discounts__links__dropdown static" data-dropdown>
    <div class="dropdown__title">
        <h2 class="section__label no-capitalize margin-top-20">Get a shareable link</h2>
        {# <button type="button" class="button-default" data-dropdownClose>
            <svg class="nav-icon picker-clear-icon dropdown-icon" width="24" height="24">
                <use xlink:href="#clear" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
            </svg>
        </button> #}
    </div>
    <div class="dropdown__body">
        <div class="discount__link-to">
            <span class="discount__dropdown__info">Your discount will be automatically applied at checkout.</span>
            <label class="control radio" data-label>Homepage
                <input
                type="radio"
                name="linkType"
                value="homepage"
                data-linkType="homepage"checked>
                <span class="control-indicator" data-variant-indicator></span>
                <span class="control-indicator-ring" tabindex="0" data-radio-ring></span>
            </label>

            <label class="control radio {{ 'hidden' if data.applies_to === 'cart' }} {{ 'hidden' if data.discount_type === 'free_shipping' }}" data-label data-productLink>
                {% if data.applies_to === 'product' %}
                    <span class="truncate" title="{{ data.product.title }}">Product page: {{ data.product.title }}</span>
                {% elif data.applies_to === 'collection' %}
                    Collection page: {{ data.collection.title }}
                {% endif %}
                <input
                type="radio"
                name="linkType"
                value="product"
                data-linkType="product">
                <span class="control-indicator" data-variant-indicator></span>
                <span class="control-indicator-ring" tabindex="0" data-radio-ring></span>
            </label>

            <label class="control radio {% if data.product.variants.length > 1 or data.applies_to !== 'product' %}hidden{% endif %}" data-label data-variantLink>
                Variant page: <span data-variantTitle>{{ data.product.variants[0].title }}</span>
                <input
                type="radio"
                name="linkType"
                value="variant"
                data-linkType="variant">
                <span class="control-indicator" data-variant-indicator></span>
                <span class="control-indicator-ring" tabindex="0" data-radio-ring></span>
            </label>

            <label class="control radio {% if data.applies_to !== 'product' or data.product.variants.length > 1 %}hidden{% endif %}" data-label data-cart>Cart
                <input
                type="radio"
                name="linkType"
                value="cart"
                data-linkType="cart">
                <span class="control-indicator" data-variant-indicator></span>
                <span class="control-indicator-ring" tabindex="0" data-radio-ring></span>
            </label>

            <label class="control radio {% if data.applies_to !== 'product' or data.product.variants.length > 1 %}hidden{% endif %}" data-checkout>Checkout
                <input
                type="radio"
                name="linkType"
                value="checkout"
                data-linkType="checkout">
                <span class="control-indicator" data-variant-indicator></span>
                <span class="control-indicator-ring" tabindex="0" data-radio-ring></span>
            </label>
        </div>

        <ul class="discounts__links">
            <li class="discounts__link" data-copyLink>
                <input type="text" name="" value="{{ data.links[0] }}" class="form__input" data-input readonly>
                <button type="button" class="button-default button-base button-submit" data-copy>Copy link</button>
            </li>
        </ul>
    </div>
    {# <div class="dropdown__footer">
        <button type="button" class="button-default button-base" data-dropdownClose>Close</button>
    </div> #}
</div>
