<div class="picker-item" data-template="variant">
    <div class="picker-item__block">
        {% if item.new %}
            <label class="control control--checkbox">
                <input type="checkbox" name="variant-check" data-check data-id="{{ item.id }}" checked>
                <div class="control__indicator"></div>
            </label>
        {% elif item.isView %}
            <label class="control radio" data-checkVariant>
                <input
                type="radio"
                name="variant"
                value="{{ item.id }}"
                data-linkType="variant" data-variant data-title="{{ item.title  }}" {{ 'checked' if item.isVariants !== true }}>
                <span class="control-indicator" data-variant-indicator></span>
                <span class="control-indicator-ring" tabindex="0" data-radio-ring></span>
            </label>
        {% endif %}
        <div class="image-wrap">
            <img src="{{ item.image }}" alt="{{ item.title }}">
        </div>
        <div class="">{{ item.title }}</div>
    </div>
    {% if not item.new %}
        <button type="button" class="button-default {{ 'hidden' if item.isView }}" data-deleteVariant>
            <svg class="nav-icon picker-clear-icon" width="24" height="24">
                <use xlink:href="#clear" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
            </svg>
        </button>
    {% endif %}
    <input type="hidden" name="variant[][id]" value="{{ item.id }}" data-id="{{ item.id }}">
    <input type="hidden" name="variant[][title]" value="{{ item.title }}" data-id="{{ item.id }}">
    <input type="hidden" name="variant[][image]" value="{{ item.image }}" data-id="{{ item.id }}">
</div>
