.back-icon {
  fill: #637381;
  &:hover {
    fill: #212b35;
  }
}

.nav-icon {
  fill: #919eab;
  margin-right: 7px;
  &:hover {
    fill: rgba(#212c36, .7);
  }
}

.status-icon {
  width: 20px;
  height: 20px;
  fill: #212b35;
  margin-right: 5px;
  outline: none;
  &.enable {
    position: relative;
    top: -3px;
    left: -1px;
    width: 21px;
    height: 21px;
  }
  &.disable {
    position: relative;
    top: -1px;
    left: 0;
    width: 21px;
    height: 21px;
  }
  &:hover {
    fill: #212b35;
  }
}

.picker-clear-icon {
  position: relative;
  top: 5px;
  width: 20px;
  height: 20px;
  &.dropdown-icon {
    top: 0;
  }
}

.control-icon {
  outline: none;
}

svg.control-icon {
  fill: rgba(#212c36, .7); // transition: all .2s ease;
  &.edit {
    transform: scale(.9);
    fill: rgba(#212c36, .5);
  }
  &.promote {
    transform: scale(.9);
    fill: rgba(#212c36, .6);
  }
  &.enable {
    position: relative;
    top: -2px;
    transform: scale(.9);
  }
  &.disable {
    transform: scale(.85);
    fill: rgba(#212c36, .6);
  }
  &.delete {
    fill: rgba(#212c36, .6);
  }
  &.view {
    fill: rgba(#212c36, .45);
  }
  &:hover,
  &:focus,
  &:active {
    fill: rgba(#212c36, 1);
  }
}
