<h1>Create a link</h1>
<p>Boost sales and reward your loyal customers with discounts and shareable links.</p>
<button type="button" class="button-default button-base button-submit" data-create>Create Link</button>
