<div class="picker-item {{ 'hidden' if data.link_type !== 'collection' }}" data-template="collection">
    <div class="picker-item__block">
        <div class="image-wrap">
            <img src="{{ data.collection.image }}" alt="{{ data.collection.title }}" data-image>
        </div>
        <div class="" data-title>{{ data.collection.title }}</div>
    </div>
    {# <button type="button" class="button-default {% if data.isView %}hidden{% endif %}" data-delete>
        <svg class="nav-icon picker-clear-icon" width="24" height="24">
            <use xlink:href="#clear" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
        </svg>
    </button> #}

    <input type="hidden" name="collection[id]" value="{{ data.collection.id }}">
    <input type="hidden" name="collection[title]" value="{{ data.collection.title }}">
    <input type="hidden" name="collection[image]" value="{{ data.collection.image }}">
</div>
