{# {% for item in res %}
    <option value="{{ item.id }}" {{ 'selected' if data.discount.price_rule_id === item.id }}> #}
        {{ item.title }} &nbsp;&bull;&nbsp;
        {% if item.target_type === 'shipping_line' %}
            Free Shipping
        {% else %}
            {{ (item.value | replace('-', '')) + '% off' if item.value_type === 'percentage' }}
            {{ (item.value | replace('-', '')) + (currency | currency) + ' off' if item.value_type === 'fixed_amount' }}
        {% endif %}
    {# </option>
{% endfor %} #}
