{# <div class="form__section discount-view">
    <div class="title-edit-wrap">
        <h1 class="form-title">
            {{ data.title }}
            <span class="discount-status status-label {{ 'active' if data.status else 'expired' }} {{ 'hidden' if data.new }}" data-statusColor>
                {{ 'Active' if data.status else 'Expired' }}
            </span>
        </h1>
        <button type="button" class="button-default control-icon" data-edit data-id="{{ item.id }}" data-thead title="Edit">
            <svg class="control-icon edit" width="24" height="24">
                <use xlink:href="#edit" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
            </svg>
        </button>
    </div>

    <label for="code" class="section__label">{{ data.discount.code }}</label>
    {% if data.discount.type === 'free_shipping' %}
        Free Shipping
    {% else %}
        {{ data.discount.value }} {{ data.currency | currency if data.discount_type === 'fixed_amount' else '%' }} off
        {{ 'entire order' if data.link_type === 'cart' }}
    {% endif %}

    <div class="{{ 'hidden' if data.applies_to !== 'product' }}" data-productPicker>


        <div class="picker-product" data-product>
            {% include "templates/links/link/helpers/product.njk" %}
        </div>

        <ul class="picker-variants hidden {{ 'preview' if data.isView }}" data-variants>
            {% for item in data.product.variants %}
                <li data-variant_item>{% include "templates/links/link/helpers/variant.njk" %}</li>
            {% endfor %}
        </ul>
    </div>
    <button type="button" class="button-default toggle-variants hidden" data-toggleVariants>
        Hide
    </button>

    <div class="{{ 'hidden' if data.applies_to !== 'collection' }}" data-collectionPicker>


        <div class="picker-collection" data-collection>
            {% include "templates/links/link/helpers/collection.njk" %}
        </div>
    </div>
</div> #}

<div class="discounts__links__dropdown static" data-dropdown>
    <div class="dropdown__title">
        <h2 class="section__label no-capitalize margin-top-20">{{ data.title }}
            <span class="discount-status status-label {{ 'active' if data.status else 'expired' }} {{ 'hidden' if data.new }}" data-statusColor>
                {{ 'Active' if data.status else 'Expired' }}
            </span>
        </h2>
        <button type="button" class="button-default control-icon" data-edit data-id="{{ item.id }}" data-thead title="Edit">
            <svg class="control-icon edit" width="24" height="24">
                <use xlink:href="#edit" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
            </svg>
        </button>
        {# <button type="button" class="button-default" data-dropdownClose>
            <svg class="nav-icon picker-clear-icon dropdown-icon" width="24" height="24">
                <use xlink:href="#clear" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
            </svg>
        </button> #}
    </div>
    <div class="dropdown__body">
        <div class="discount__link-to">
            <label class="promote-label">
                <label >{{ data.discount.code }}</label>&nbsp;&bull;&nbsp;
                {% if data.discount.type === 'free_shipping' %}
                    Free Shipping
                {% else %}
                    {{ data.discount.value }} {{ data.currency | currency if data.discount_type === 'fixed_amount' else '%' }} off
                    {{ 'entire order' if data.link_type === 'cart' }}
                {% endif %}
            </label>
            <label class="promote-label {{ 'hidden' if data.link_type !== 'homepage' }}" data-label>Homepage
                {# <input
                type="radio"
                name="linkType"
                value="homepage"
                data-linkType="homepage"
                {{ 'checked' if data.link_type === 'homepage' }}>
                <span class="control-indicator" data-variant-indicator></span>
                <span class="control-indicator-ring" tabindex="0" data-radio-ring></span> #}
            </label>

            <label class="promote-label {% if data.link_type !== 'product' and data.link_type !== 'collection' %}hidden{% endif %}" data-label data-productLink>
                {% if data.link_type === 'product' %}
                    <span class="truncate" title="{{ data.product.title }}">
                        Product page
                         {# <span data-variantTitle>{% include "./promote-product.njk" %}</span></span> #}
                {% elif data.link_type === 'collection' %}
                    Collection page
                     {# <span data-variantTitle>{% include "./promote-collection.njk" %}</span> #}
                {% endif %}
                {# <input
                type="radio"
                name="linkType"
                value="product"
                data-linkType="product"
                {{ 'checked' if data.link_type === 'collection' }}
                {{ 'checked' if data.link_type === 'product' }}>
                <span class="control-indicator" data-variant-indicator></span>
                <span class="control-indicator-ring" tabindex="0" data-radio-ring></span> #}
            </label>
            <label class="promote-label {{ 'hidden' if data.link_type !== 'product' }}" data-checkout>
                <span data-variantTitle>{% include "./promote-product.njk" %}</span>
            </label>
            <label class="promote-label {{ 'hidden' if data.link_type !== 'collection' }}" data-checkout>
                <span data-variantTitle>{% include "./promote-collection.njk" %}</span>
            </label>

            <label class="promote-label {{ 'hidden' if data.link_type !== 'variant' }}" data-label data-variantLink>
                Variant page
                {# <span data-variantTitle>{% include "./promote-product.njk" %}</span> #}
                {# <input
                type="radio"
                name="linkType"
                value="variant"
                data-linkType="variant"
                {{ 'checked' if data.link_type === 'variant' }}>
                <span class="control-indicator" data-variant-indicator></span>
                <span class="control-indicator-ring" tabindex="0" data-radio-ring></span> #}
            </label>
            <label class="promote-label {{ 'hidden' if data.link_type !== 'variant' }}" data-checkout>
                <span data-variantTitle>{% include "./promote-product.njk" %}</span>
            </label>

            <label class="promote-label {{ 'hidden' if data.link_type !== 'cart' }}" data-label data-cart>
                Cart
                {# <span data-variantTitle>{% include "./promote-product.njk" %}</span> #}
                {# <input
                type="radio"
                name="linkType"
                value="cart"
                data-linkType="cart"
                {{ 'checked' if data.link_type === 'cart' }}>
                <span class="control-indicator" data-variant-indicator></span>
                <span class="control-indicator-ring" tabindex="0" data-radio-ring></span> #}
            </label>
            <label class="promote-label {{ 'hidden' if data.link_type !== 'cart' }}" data-checkout>
                <span data-variantTitle>{% include "./promote-product.njk" %}</span>
            </label>

            <label class="promote-label {{ 'hidden' if data.link_type !== 'checkout' }}" data-checkout>
                Checkout
                {# <input
                type="radio"
                name="linkType"
                value="checkout"
                data-linkType="checkout"
                {{ 'checked' if data.link_type === 'checkout' }}>
                <span class="control-indicator" data-variant-indicator></span>
                <span class="control-indicator-ring" tabindex="0" data-radio-ring></span> #}
            </label>
            <label class="promote-label {{ 'hidden' if data.link_type !== 'checkout' }}" data-checkout>
                <span data-variantTitle>{% include "./promote-product.njk" %}</span>
            </label>
        </div>

        <ul class="discounts__links">
            <li class="discounts__link" data-copyLink>
                <input type="text" name="" value="{{ data.link_to }}" class="form__input" data-input readonly>
                <button type="button" class="button-default button-base button-submit" data-copy>Copy link</button>
            </li>
            <li class="discount__dropdown__info">Your discount will be automatically applied at checkout.</li>
        </ul>
    </div>

    {# <div class="dropdown__footer">
        <button type="button" class="button-default button-base" data-dropdownClose>Close</button>
    </div> #}
</div>
