<div class="picker-item promote" data-template="product" data-id="{{ data.product.id }}">

    <div class="picker-item__block__wrap">
        <div class="picker-item__block">
            <div class="picker-item__block">
                {# {% if data.isVariants %}
                <label class="control control--checkbox hidden" data-checkAllEl>
                    <input type="checkbox" data-checkAll data-id="{{ item.id }}" checked>
                    <div class="control__indicator"></div>
                </label>
                {% endif %}
                {% if data.isView %}
                <label class="control radio hidden" data-checkProduct>
                    <input
                    type="radio"
                    name="variant"
                    value="{{ item.id }}"
                    data-allVariants checked>
                    <span class="control-indicator" data-variant-indicator></span>
                    <span class="control-indicator-ring" tabindex="0" data-radio-ring></span>
                </label>
                {% endif %} #}

                {# {% if data.link_type === 'product' %} #}
                    <div class="image-wrap">
                        <img
                            src="{{ data.product.image if data.link_type === 'product' else data.variant.image }}"
                            alt="{{ data.product.title }}"
                            data-image>
                    </div>
                    <div
                    class="truncate double"
                    data-title
                    data-checkProductLabel>
                    {{ data.product.title | safe if data.link_type === 'product' else data.variant.title | safe }}
                </div>
                {# {% elif data.link_type !== 'product' %}
                    <div class="image-wrap">
                        <img src="{{ data.variant.image }}" alt="{{ data.variant.title }}" data-image>
                        <div class="truncate double" data-title data-checkProductLabel title="{{ data.variant.title | safe }}">{{ data.variant.title | safe }}</div>
                    </div>
                {% endif %} #}


                {# {% if data.product.variants.length === 1 %}
                {% if data.product.variants[0].title !== 'Default title' %}
                &nbsp;&bull;&nbsp; <div class="truncate" title="{{ data.product.variants[0].title }}">{{ data.product.variants[0].title }}</div>
                {% endif %}
                {% endif %} #}



                {# <button type="button" class="button-default toggle-variants view {{ 'hidden' if data.product.variants.length === 1}}
                    {{ 'hidden' if data.isVariants !== true }}" data-toggleVariants>
                    {% if data.linkType !== 'product' %}
                        Hide
                    {% else %}
                        Show variants ({{ data.product.variants.length }})
                    {% endif %}
                </button> #}
            </div>

            {# <button type="button" class="button-default {{ 'hidden' if data.isView }}" data-delete>
                <svg class="nav-icon picker-clear-icon" width="24" height="24">
                    <use xlink:href="#clear" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                </svg>
            </button> #}
        </div>

        {# <ul class="picker-variants hidden {{ 'edit' if data.edit }}" data-variants data-id="{{ data.product.id }}">
            {% for item in data.product.variants %}
                <li data-variant_item>{% include "templates/links/link/helpers/variant.njk" %}</li>
            {% endfor %}
        </ul> #}
    </div>

    <input type="hidden" name="product[id]" value="{{ data.product.id }}">
    <input type="hidden" name="product[title]" value="{{ data.product.title }}">
    <input type="hidden" name="product[image]" value="{{ data.product.image }}">
</div>
