<div class="discounts__links__dropdown static" data-dropdown>
    <div class="dropdown__title">
        <h2 class="section__label no-capitalize margin-top-20">{{ data.title }}
        </h2>
        <button type="button" class="button-default control-icon" data-editTheme data-id="{{ item.id }}" data-thead title="Edit">
            <svg class="control-icon edit" width="24" height="24">
                <use xlink:href="#edit" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
            </svg>
        </button>
        {# <button type="button" class="button-default" data-dropdownClose>
            <svg class="nav-icon picker-clear-icon dropdown-icon" width="24" height="24">
                <use xlink:href="#clear" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
            </svg>
        </button> #}
    </div>
    <div class="dropdown__body preview">
        {% include "themes/theme" %}
    </div>
</div>
