<tbody>
    {% for item in data.items %}
        <tr class="discounts__row" data-discount-item data-id="{{ item.id }}">

            <td class="discounts__tdata discounts__tdata--title">
                <a href="/links/{{ item.id }}">
                    {{ item.title }}
                </a>
            </td>

            <td class="discounts__tdata discounts__tdata--link--type">
                {{ item.views }}
            </td>
            <td class="discounts__tdata discounts__tdata--link--type">
                {{ item.created_orders }}
            </td>
            <td class="discounts__tdata discounts__tdata--link--type">
                {{ (item.created_orders / item.views * 100) | round(2) }}%
            </td>
            <td class="discounts__tdata discounts__tdata--link--type">
                {{ '0' | money(data.money_format) }}
            </td>
        </tr>
    {% endfor %}
</tbody>
