    <script type='text/javascript'>
        if (window.top == window.self) {
            window.top.location = "<%=@redirect_url%>";
        } else {
            message = JSON.stringify({
                message: "Shopify.API.remoteRedirect",
                data: { location: "<%=@redirect_url%>" }
            });
            window.parent.postMessage(message, "https://<%=@current_shop.shopify_domain%>");
        }
    </script>
