<tbody>
    {% for item in data.discounts %}
        <tr class="discounts__row" data-discount-item data-id="{{ item.id }}">

            <td class="discounts__tdata discounts__tdata--check">
                <label class="control control--checkbox">
                    <input type="checkbox" data-check data-id="{{ item.id }}">
                    <div class="control__indicator"></div>
                </label>
            </td>

            <td class="discounts__tdata discounts__tdata--title">
                {{ item.title }}
            </td>

            <td class="discounts__tdata discounts__tdata--type">
                <a class="dsicount-link" data-edit data-id="{{ item.id }}">{{ item.code }}</a> <br>

                {% if item.discount_type === 'free_shipping' %}
                    Free Shipping
                {%else%}
                    <span class="truncate">
                        {{ item.value + '% off' if item.discount_type === 'percentage' }}
                        {{ item.value + (currency | currency) + ' off' if item.discount_type === 'amount' }}
                    </span>
                {%endif%}

                {% if item.applies_to === 'cart' %}
                    <span class="truncate">
                        &nbsp;&bull;&nbsp;
                        Applies once per order
                    </span>
                {% elif item.applies_to === 'product' %}
                    <span class="truncate" title="{{ item.product.title }}">
                        &nbsp;&bull;&nbsp;
                        {{ item.product.title }}
                    </span>

                    {% if item.product.variants.length > 1 %}
                        <span class="truncate"
                            title="
                            {% for variant in item.product.variants %}
                                &nbsp;&bull;&nbsp; {{variant.title}} &nbsp;&bull;&nbsp;
                            {% endfor %}">
                            ({{ item.product.variants.length }} variants)
                        </span>
                    {% elif item.product.variants.length === 1 %}
                        <span class="truncate"> ({{ item.product.variants[0].title }})</span>
                    {%endif%}

                {% elif item.applies_to === 'collection' %}
                    <span class="truncate" title="{{ item.collection.title }}">
                        &nbsp;&bull;&nbsp;
                        {{ item.collection.title }}
                    </span>
                {% endif %}
            </td>

            <td class="discounts__tdata discounts__tdata--status">
                <span class="discount-status {{ 'active' if item.status else 'expired' }}" data-status data-id="{{ item.id }}">
                    {{ 'Active' if item.status else 'Expired' }}
                </span>
            </td>
            {# <td class="discounts__tdata discounts__tdata--link">
                {{ item.link }}
            </td> #}
            <td class="discounts__tdata discounts__tdata--controls" >
                <div class="controls__wrap" data-controls>
                    <button type="button" class="button-default control-icon" data-view data-id="{{ item.id }}" data-thead title="View">
                        <svg class="control-icon view" width="24" height="24">
                            <use xlink:href="#view" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                        </svg>
                    </button>
                    <button type="button" class="button-default control-icon" data-edit data-id="{{ item.id }}" data-thead title="Edit">
                        <svg class="control-icon edit" width="24" height="24">
                            <use xlink:href="#edit" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                        </svg>
                    </button>

                    <button type="button" class="button-default control-icon" data-promote title="Promote">
                        <svg class="control-icon promote" width="24" height="24">
                            <use xlink:href="#promote" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                        </svg>
                    </button>

                    <input
                    type="checkbox"
                    class="discount-action hidden"
                    data-action="status"
                    data-id="{{ item.id }}"
                    data-thead
                    id="status-{{ loop.index }}"
                    {{ 'checked' if item.status }}>
                    <label for="status-{{ loop.index }}" class="control-icon status" data-statusLabel title="{{ 'Disable' if item.status else 'Enable' }}">
                        <svg class="control-icon {{ 'disable' if item.status else 'enable' }}" width="24" height="24">
                            <use xlink:href="#{{ 'disable' if item.status else 'enable' }}" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                        </svg>
                    </label>

                    <button type="button" class="button-default control-icon" data-action="delete" data-id="{{ item.id }}" data-thead title="Delete">
                        <svg class="control-icon delete" width="24" height="24">
                            <use xlink:href="#delete" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                        </svg>
                    </button>
                </div>
            </td>
        </tr>
    {% endfor %}
</tbody>
