.statistics-cards {
  // margin-left: 30px;
  display: flex;
  width: 97%;
  margin: 20px auto;

  @media (max-width: 768px) {
    flex-wrap: wrap;
  }
  .form__section {
    width: 25%;
    min-width: 180px;
    margin-right: 20px;
    &:last-child {
      margin-right: 0;
    }
  }
}

.statistics {
  .discounts__thead.discounts__thead--link-type,
  .discounts__tdata.discounts__tdata--link--type {
    text-align: center;
  }
  .discounts__tdata {
    padding-top: 15px;
    padding-bottom: 15px;
  }
}

.statistics-title {
  font-size: 16px;
  font-weight: 600;
  text-align: center;
}

.statistics-data {
  font-size: 28px;
  font-weight: 600;
  text-align: center;
  color: #5c6ac4;
}
