<section class="statistics-cards" data-cards>
    <div class="form__section">
        <h2 class="statistics-title">Total views</h2>
        <div class="statistics-data">{{ data.views }}</div>
    </div>
    <div class="form__section">
        <h2 class="statistics-title">Total orders</h2>
        <div class="statistics-data">{{ data.orders }}</div>
    </div>
    <div class="form__section">
        <h2 class="statistics-title">Conversion rate</h2>
        <div class="statistics-data">{{ (data.orders / data.views * 100) | fixNaN | round(2) }}%</div>
    </div>
    <div class="form__section">
        <h2 class="statistics-title">Total revenue</h2>
        <div class="statistics-data">{{ '0' | money(data.money_format) }}</div>
    </div>
</section>

<table class="discounts__table {{ 'hidden' if data.items.length < 1 }}" data-table>
    <thead>
        <tr>
            <th class="discounts__thead discounts__thead--title" data-thead>Title</th>
            <th class="discounts__thead discounts__thead--link-type" data-thead>Views</th>
            <th class="discounts__thead discounts__thead--link-type" data-thead>Orders</th>
            <th class="discounts__thead discounts__thead--link-type" data-thead>Conversion rate</th>
            <th class="discounts__thead discounts__thead--link-type" data-thead>Revenue</th>
        </tr>
        {% include "templates/statistics/item/template" %}
    </thead>
</table>

<div class="empty-wrap {{ 'hidden' if data.items.length > 0 }}" data-empty>
    {% include "templates/statistics/empty/template" %}
</div>
