<label class="control radio" data-checkDiscount>
    <input
    type="radio"
    name="discount-check"
    value="{{ item.id }}"
    {% if new %} {{ 'checked' if loop.index0 === 0 }}
    {% else %} {{ 'checked' if item.id === link.discount.price_rule_id }}
    {% endif %}>
    <span class="control-indicator"></span>
    <span class="control-indicator-ring" tabindex="0" data-radio-ring></span>
</label>
<div class="discount-item__wrap">
    <div class="discount-item__info">
        {{ item.title }}
    </div>
    <div class="">
        {% if item.target_type === 'shipping_line' %}
        Free Shipping
        {% else %}
        {{ (item.value | replace('-', '')) + '%' if item.value_type === 'percentage' }}
        {{ (item.value | replace('-', '')) + (currency | currency) if item.value_type === 'fixed_amount' }}
        {% endif %}

    </div>
</div>
