.product-variant-modal {
  position: absolute; // ff & ie
  // position: fixed;
  // top: -125%;
  top: 2%;
  left: 0;
  right: 0;
  margin: auto;
  width: 640px;
  max-width: calc(100% - 40px);
  border-radius: 7px;
  box-shadow: rgba(0, 0, 0, .2) 0 0 10px;
  background-color: #FFF;
  color: $text-color;
  font-family: $main-font;
  opacity: 0;
  transform: translateY(-100em);
  // transition: all .2s ease-in-out;
  z-index: 5000;
  &.visible {
    transform: translateY(0);
    opacity: 1;
  }
  &__title {
    width: 100%;
    height: 68px;
    margin: 0;
    padding: 26px 20px;
    font-size: 18px;
    font-weight: 400;
    border-bottom: 1px solid #EBEEF0;
    color: #3C3C3C;
  }
  &__body {
    max-height: calc(100vh - 250px);
    margin-right: 0;
    overflow-y: auto;
    transition: all .5s ease;
    padding-left: 20px;
    padding-right: 20px;
    &.need-scroll {
      box-shadow: inset 0 -20px 20px -20px rgba(0, 0, 0, .2);
    }
    &.scrolled {
      box-shadow: inset 0 20px 20px -20px rgba(0, 0, 0, .2), inset 0 -20px 20px -20px rgba(0, 0, 0, .2);
    }
    &.scrolled-to-bottom {
      box-shadow: inset 0 20px 20px -20px rgba(0, 0, 0, .2);
    }
  }
  .btn-close-modal {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 20px;
    height: 20px;
    &:focus {
      .icon {
        fill: $red;
      }
    }
  }
  // .btn-go-back {
  //   padding: 0;
  //   background-color: transparent;
  //   box-shadow: none;
  //   border: none;
  // }
  .product,
  .variants__item {
    &__img-wrap {
      position: relative;
      width: 50px;
      height: 50px;
      margin-right: 20px;
      margin-left: 12px;
      border: 1px solid #EBEEF0;
      background-color: #FFF;
      img {
        position: absolute;
        max-width: 100%;
        max-height: 100%;
        display: block;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        margin: auto;
      }
    }
  }
  .product {
    display: flex;
    align-items: center;
    height: 68px;
    padding: 3px 27px;
    background-color: #FFF;
    border-bottom: 1px solid $border;
    z-index: 1000;
    overflow-x: hidden;
    &__name {
      font-weight: 700;
      font-size: 14px;
    }
  }
  .variants {
    position: relative;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
    list-style: none;
    font-size: 14px;
    &__column-titles {
      display: flex;
      align-items: flex-end;
      height: 62px;
      padding-left: 115px;
      padding-bottom: 12px;
      font-weight: 700;
    }
    .variant-title {
      margin-right: 184px;
    }
    &__item {
      margin-left: 20px;
      margin-right: 20px;
      padding: 0 10px;
      transition: all .2s ease;
      &_name {
        margin-right: 27px;
        width: 200px;
        text-overflow: ellipsis;
      }
      &_price {
        margin-right: 5px;
      }
      &:hover {
        background-color: #F9FAFB;
      }
      .control {
        display: flex;
        align-items: center;
        width: 100%;
        height: 62px;
        color: #798C9C;
        transition: all .2s ease;
      }
    }
    &__item:not(:first-child) {
      border-top: 1px solid $border;
    }
  }
  &__controls {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    height: 75px;
    padding: 18px;
    border-top: 1px solid #EEE;
    &_btn-cancel.btn,
    &_btn-success.btn {
      margin-left: 5px;
      border-radius: 3px;
      outline: none;
      border: 1px solid #C4CDD5;
      color: #212C36;
      font-size: 14px;
      cursor: pointer;
      transition: all .2s ease;
      &:focus {
        border-color: #5C6AC4;
        box-shadow: 0 1px 0 0 rgba(22,29,37,.05), 0 0 0 1px #5C6AC4;
      }
    }
    &_btn-cancel.btn {
      width: 75px;
      color: #212B35;
      background: linear-gradient(to bottom, #FFF, #FAFBFC);
      border-color: #C4CDD5;
      box-shadow: 0 1px 0 0 rgba(22,29,37,.05);
      margin-right: 5px;
      &:hover {
        background: linear-gradient(to bottom, #FAFBFC, #F5F6F7);
        border-color: #C4CDD5;
      }
    }
    &_btn-success.btn {
      min-width: 121px;
      background: linear-gradient(to bottom, #6371C7, #5563C1);
      border-color: #3F4EAE;
      color: #FFF;
      box-shadow: inset 0 1px 0 0 #6F7BCB;
      &:hover {
        background: linear-gradient(to bottom, #5C6AC4, #4959BD);
        border-color: #3F4EAE;
      }
      &:disabled {
        background: #BAC0E6;
        border-color: #A7AEDF;
        box-shadow: none;
        color: #FFF;
        cursor: default;
      }
    }
  }
}

.discount-item {
  display: flex;
  // margin-bottom: 10px;
  padding: 10px 20px;
  border-bottom: 1px solid $border;
  cursor: pointer;

  &:hover {
  background-color: #f9fafb;
  }

  &__info {
    margin-left: 5px;
  }
}

.lock-page {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  margin: auto;
  background-color: #020725;
  opacity: .25;
  z-index: 2000;
}

.discount-item__wrap {
  display: flex;
  width: 100%;
  .discount-item__info {
    width: 50%;
  }
}

.discount-item__title {
  display: flex;
  width: 100%;
  div {
    width: 50%;
    padding: 20px;
    border-bottom: 1px solid $border;

    &:first-child {
      padding-left: 55px;
    }
  }
}

.select.form__input {
  height: 40px;
  cursor: pointer;
}

.btn-close-modal {
  outline: none;
}
