<div class="lock-page hidden" data-lock-page></div>
<div class="product-variant-modal" data-custom-modal>
    <h2 class="product-variant-modal__title" data-modal-title>Select Discount for Link</h2>
    <button type="button" class="button-default btn-close-modal" data-modal-cancel>
        <svg class="nav-icon picker-clear-icon" width="24" height="24">
            <use xlink:href="#clear" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
        </svg>
    </button>

    <div class="product-variant-modal__body" data-modal-body>
        <div class="discount-item__title">
            <div class="">Code</div>
            <div class="">Value</div>
        </div>
        <ul class="variants" data-product-variants>
            {% for item in data %}
                <li class="discount-item" data-discount-item>{% include "templates/links/link/helpers/discount-modal/item.njk" %}</li>
            {% endfor %}
            {# <li class="variants__column-titles">
                <span class="variant-title">Variant</span>
                <span class="price-title">Price</span>
            </li>
            <li class="variants__item" data-product-variant>
                <label class="control radio" data-label>
                    <div class="variants__item__img-wrap">
                        <img src="" alt="" data-variant-image>
                        <div data-variant-blank class="hidden">
                            <svg class="icon-icon-shopping-cart custom-modal" width="48" height="48">
                                <use xlink:href="#icon-shopping-cart"></use>
                            </svg>
                        </div>
                    </div>
                    <input type="radio" name="radio" data-variant-check>
                    <span class="control-indicator" data-variant-indicator></span>
                    <span class="control-indicator-ring" tabindex="0" data-radio-ring></span>
                    <span class="variants__item_name" data-variant-name></span>
                    <span class="variants__item_price" data-variant-price></span>
                </label>
            </li> #}
        </ul>
    </div>
    <div class="product-variant-modal__controls">
        <button class="btn product-variant-modal__controls_btn-cancel" type="button" data-modal-cancel>Cancel</button>
        <button class="btn product-variant-modal__controls_btn-success" type="button" data-modal-success>Select discount</button>
    </div>
</div>
