@import "./control";

.checkbox .control-indicator {
  left: 3em;
  top: -1.25rem;
  width: 52px;
  height: 29px;
  border-radius: 15px;
  margin: auto;
}

.checkbox input ~ .control-indicator {
  box-shadow: none;

  &:before {
    position: absolute;
    content: "";
    top: 3px;
    left: 2px;
    width: 23px;
    height: 23px;
    border-radius: 50%;
    background-color: #FFF;
    transition: all .2s ease;
  }
}

.control input:focus ~ .control-indicator {
  box-shadow: 0 0 0 .075rem #FFF, 0 0 0 .2rem darken($main, 10%);
}

.control input:checked ~ .control-indicator {
  color: #FFF;
  background-color: $main;
}

.checkbox input:checked ~ .control-indicator {
  &:before {
    left: 50%;
  }
}

.checkbox input:disabled ~ .control-indicator {
  cursor: not-allowed;
  opacity: .6;
}

.rule-status {
  .checkbox {
    left: -50px;
  }

  .checkbox-label {
    margin-right: 13px;
  }

  .control-indicator {
    top: -5px;
    left: 100%;
  }
}
