.control {
  position: relative;
  display: inline-block;
  padding-left: 1.5rem;
  color: #555;
  cursor: pointer;
  z-index: 150;
}

.control input {
  position: absolute;
  opacity: 0;
  z-index: -1;
}

.control-indicator {
  position: absolute;
  top: .25rem;
  left: 0;
  display: block;
  width: 1rem;
  height: 1rem;
  line-height: 1rem;
  font-size: 65%;
  color: #EEE;
  text-align: center;
  background-color: #EEE;
  background-size: 50% 50%;
  background-position: center center;
  background-repeat: no-repeat;
  user-select: none;
}
