@import "./control";

.radio .control-indicator {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
  transform: scale(0);
  transition: none;

  &-ring {
    position: absolute;
    left: 0;
    top: 0;
    width: 16px;
    height: 16px;
    border: 1px solid #C4CDD5;
    border-radius: 50%;

    &:focus {
      border-color: $main;
      outline: none;
    }
  }
}

.radio input:checked ~ .control-indicator {
  background-color: $main;
  border: 2px solid #FFF;
  box-shadow: none;
  transform: scale(.65);
  transition: all .2s ease;

  &-ring {
    border: 1px solid $main;
  }
}

.control input:active ~ .control-indicator {
  &-ring {
    border: 1px solid $main;
  }
}
