.select {
  position: relative;
  display: inline-block;
  color: #555;
  width: 250px;
  max-width: 100%;

  &.full-width {
    width: 520px;
    max-width: 200%;
  }
}

.select select {
  display: inline-block;
  width: 100%;
  margin: 0;
  padding: .5rem 2.25rem .5rem 1rem;
  line-height: 1.5;
  color: #555;
  background-color: #fff;
  border: 0;
  border-radius: .25rem;
  cursor: pointer;
  appearance: none;
}
/* Undo the Firefox inner focus ring */
// .select select:focus:-moz-focusring {
//   color: transparent;
//   text-shadow: 0 0 0 #000;
// }
/* Dropdown arrow */
.select:after {
  position: absolute;
  top: 50%;
  right: 1.25rem;
  display: inline-block;
  content: "";
  width: 0;
  height: 0;
  margin-top: -.15rem;
  pointer-events: none;
  border-top: .35rem solid;
  border-right: .35rem solid transparent;
  border-bottom: .35rem solid transparent;
  border-left: .35rem solid transparent;
}
/* Hide the arrow in IE10 and up */
.select select::-ms-expand {
  display: none;
}
/* Media query to target Firefox only */
@-moz-document url-prefix() {
  /* Firefox hack to hide the arrow */
  .select select {
    text-indent: .01px;
    text-overflow: "";
    padding-right: 1rem;
  }
  /* <option> elements inherit styles from <select>, so reset them. */
  .select option {
    background-color: #FFF;
  }
}

/**
* Custom
**/
.select {
  select {
    height: 38px;
    border: solid 1px $border;
    border-radius: 3px;
    // border-top-right-radius: 3px;
    // border-bottom-right-radius: 3px;
    // border-left-color: transparent;
    background-color: #FFF;
    font-size: 13px;
    text-align: left;
    color: $text-color;
    outline-color: #5c6ac4;

    &:focus {
      box-shadow: 0 0 0 1px #5c6ac4;
      transition: all .2s ease;
    }
  }
}
