.control {
  display: block;
  position: relative;
  padding-left: 30px;
  margin-bottom: 15px;
  cursor: pointer;
  font-size: 18px;
}
.control input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}
.control__indicator {
  position: absolute;
  top: -2px;
  left: 0;
  height: 18px;
  width: 18px;
  background: #fff;
  border: 1px solid $border;
  transition: border-color .2s ease;
}
.control--checkbox .control__indicator {
  border-radius: 3px;
}
.control--radio .control__indicator {
  border-radius: 50%;
}
// .control:hover input ~ .control__indicator,
.control input:focus ~ .control__indicator {
  // background: #ccc;
  // border: 3px solid $main;
}
.control input:checked ~ .control__indicator {
  // background: #2aa1c0;
  border: 2px solid $main;
}
.control:hover input:not([disabled]):checked ~ .control__indicator,
.control input:checked:focus ~ .control__indicator {
  // background: #0e647d;
  border: 2px solid $main;
}
.control input:disabled ~ .control__indicator {
  background: #e6e6e6;
  opacity: 0.6;
  pointer-events: none;
}
.control__indicator:after {
  content: '';
  position: absolute;
  display: none;
}
.control input:checked ~ .control__indicator:after {
  display: block;
}

.control--checkbox .control__indicator:after {
  left: 4px;
  top: 1px;
  width: 4px;
  height: 8px;
  border: solid $main;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg) scale(.9);
  transition: all .2s ease;
}
.control--checkbox input:disabled ~ .control__indicator:after {
  border-color: #7b7b7b;
}
.control--radio .control__indicator:after {
  left: 4px;
  top: 4px;
  height: 9px;
  width: 9px;
  border-radius: 50%;
  background: $main;
}
.control--radio input:disabled ~ .control__indicator:after {
  background: #7b7b7b;
}



// .select {
//   position: relative;
//   display: inline-block;
//   margin-bottom: 15px;
//   width: 100%;
// }
// .select select {
//   display: inline-block;
//   width: 100%;
//   cursor: pointer;
//   padding: 10px 15px;
//   outline: 0;
//   border: 0;
//   border-radius: 0;
//   background: #e6e6e6;
//   color: #7b7b7b;
//   appearance: none;
//   -webkit-appearance: none;
//   -moz-appearance: none;
// }
// .select select::-ms-expand {
//   display: none;
// }
// .select select:hover,
// .select select:focus {
//   color: #000;
//   background: #ccc;
// }
// .select select:disabled {
//   opacity: 0.5;
//   pointer-events: none;
// }
// .select__arrow {
//   position: absolute;
//   top: 16px;
//   right: 15px;
//   width: 0;
//   height: 0;
//   pointer-events: none;
//   border-style: solid;
//   border-width: 8px 5px 0 5px;
//   border-color: #7b7b7b transparent transparent transparent;
// }
// .select select:hover ~ .select__arrow,
// .select select:focus ~ .select__arrow {
//   border-top-color: #000;
// }
// .select select:disabled ~ .select__arrow {
//   border-top-color: #ccc;
// }
