.main-header {
  // position: relative;
  // top: 0;
  // left: 0;
  display: flex;
  align-items: center;
  width: 100%;
  min-height: 0 !important; // min-height: 50px;
  border-bottom: 1px solid $border; // margin-bottom: 30px;
  padding-left: 10px;
  z-index: 200;
  background-color: $bg-color; // &.fixed {
  //   position: fixed;
  // }
}

.nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 130px;
  max-width: 130px; // width: 40px;
  height: 100%;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  border-right: 1px solid $border;
  transform: translate(-80px);
  transition: all .2s ease;
  background-color: $bg-color;
  cursor: pointer;
  &:hover {
    .open-icon {
      opacity: .6;
    }
  }
  &.visible {
    transform: translate(0);
  }
  .open-icon {
    position: fixed;
    bottom: 18px;
    left: 94px;
    opacity: 0;
    transition: all .2s ease;
    &.opened {
      transform: rotate(-180deg);
    }
  }
  &__item {
    // position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center; // min-width: 90px;
    height: 50px; // margin-left: 25px;
    transition: all .2s ease; // border-bottom: 3px solid transparent;
    color: inherit;
    text-transform: capitalize;
    transform: scale(.88);
    margin-bottom: -10px;
    padding-left: 10px; // &:first-of-type {
    //   margin-left: 0;
    // }
    &.statistics {
      top: 79px;
      left: -18px; // margin-right: 5px;
    }
    &.discounts {
      top: 111px;
      left: -18px;
    }
    .nav-icon {
      margin-right: 7px; // &.statistics {
      //   margin-left: 25px;
      // }
      // &.discounts {
      //   margin-left: 20px;
      // }
      &.links {
        transform: scale(1.3);
      }
    }
    &:hover {
      border-bottom-color: #c4cdd5;
      color: #000;
      .nav-icon {
        // fill: rgba(#212c36, .7);
      }
    }
    &.active {
      border-bottom-color: $main;
      color: $main;
      cursor: default;
      .nav-icon {
        fill: rgba($main, .9);
      }
    }
  }
}
