<nav class="nav" data-nav>
    <span class="open-icon" data-open>
        <svg class="nav-icon" width="24" height="24">
            <use xlink:href="#open" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
        </svg>
    </span>
    <a class="nav__item statistics" href="/statistics" data-link>
        <span>statistics</span>
        <svg class="nav-icon statistics" width="24" height="24">
            <use xlink:href="#statistics2" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
        </svg>
    </a>
    <a class="nav__item discounts" href="/links" data-link>
        <span>links</span>
        <svg class="nav-icon links" width="24" height="24">
            <use xlink:href="#link" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
        </svg>
    </a>
    <a class="nav__item discounts" href="/themes" data-link>
        <span>links</span>
        <svg class="nav-icon links" width="24" height="24">
            <use xlink:href="#link" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
        </svg>
    </a>
    {# <a class="nav__item discounts" href="/discounts" data-link>
        discounts
        <svg class="nav-icon discounts" width="24" height="24">
            <use xlink:href="#discounts2" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
        </svg>
    </a> #} {#
    <a class="nav__item" href="/settings" data-link>
        <svg class="nav-icon" width="24" height="24">
            <use xlink:href="#settings" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
        </svg>
        settings
    </a> #}
</nav>
