.themes {
  width: 97%;
  max-width: 100%;
  margin: 20px auto;
  .sdl-theme {
    position: relative;
    top: 0;
    bottom: 0;
  }
}

.theme-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

.theme-list__item {
  margin: 10px;
}
