<ul class="theme-list">
    {% for item in data.themes %}
        {# <li class="list-title">{{ item.title }}</li> #}
        <li class="theme-list__item">{% include "themes/theme" %}</li>
    </div>
    {% endfor %}
</ul>

<hr>

<ul class="theme-list">
    {% for custom in data.custom_themes %}
        {# <li class="list-title">{{ item.title }}</li> #}
        <li class="theme-list__item">{% include "themes/theme" %}</li>
    {% endfor %}
</ul>
