@import "./item/styles";

.discounts {
  @media (max-width: 720px) {
    overflow-x: scroll;
  }

  &__table {
    position: relative;
    width: 97%;
    max-width: 100%;
    margin: 20px auto;
    border-spacing: 0;
    background-color: #fff;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 3px;
    // font-size: 16px;
    box-shadow: 0 0 0 1px rgba(63,63,68,.05), 0 1px 3px 0 rgba(63,63,68,.15);

    @media (max-width: 720px) {
      width: 100%;
      margin-top: 0;
    }
  }

  &__row {
    &:hover {
      background-color: #f9fafb;
    }

    &:last-child {
      .discounts__tdata {
        border: none;
      }
    }

    &.selected {
      background-color: #f9fafb;
    }
  }

  &__thead {
    text-align: left;
    border-bottom: 2px solid $border;
    // border-bottom: 2px solid $main;
    padding-top: 20px;
    padding-bottom: 20px;
    z-index: 50;

    &.invisible {
      color: transparent;
    }

    &--check {
      width: 2vw;
      padding-left: 7px;
    }

    &--status {
      width: 10vw;
    }

    &--title {
      width: 15vw;
    }

    &--type {
      width: 30vw;
      font-size: 14px;
    }

    &--controls {
      width: 5vw;
      text-align: center;
      padding-right: 10px;
    }

    &--on-check-info {
      position: absolute;
      top: 22px;
      left: 15px;
      display: flex;
      align-items: center;
      // height: 38px;
      background-color: #fff;
      padding: 0;
      z-index: 100;
      background-color: rgb(244, 246, 248);


    }

    &--info {
      display: flex;
      align-items: center;
      width: 194px;
      border: 1px solid #c4cdd5;
      height: 30px;
      padding-left: 38px;
      padding-right: 10px;
      border-top-left-radius: 3px;
      border-bottom-left-radius: 3px;
      color: #95a7b7;
      font-weight: 400;
    }
  }

  .select--action {
    display: flex;
    align-items: center;
    width: 110px;
    height: 30px;
    // padding-left: 10px;
    background: linear-gradient(to bottom, #fff, #f9fafb);
    border: 1px solid #c4cdd5;
    cursor: pointer;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    // border-left-color: transparent;
    margin-left: -1px;
    // overflow: hidden;
  }

  .check-all {
    position: relative;
    z-index: 200;
  }

  .thead__checkbox {
    position: relative;
    top: 10px;
  }

  .action-dropdown {
    position: absolute;
    top: 32px;
    left: 170px;
    width: 150px;
    background-color: #fff;
    box-shadow: 0 0 30px rgba(0, 0, 0, .2);
    list-style: none;
    padding-left: 0;
    border-radius: 3px;
    border: 1px solid $border;
    opacity: 0;
    transform: scale(0);
    transition: opacity .2s ease;

    &.visible {
      opacity: 1;
      transform: scale(1);
      transition: opacity .2s ease;
    }

    &:before {
      position: absolute;
      content: "";
      top: -8px;
      left: 50%;
      transform: translate(-50%);
      border: 15px solid #fff;
      border-top: none;
      border-left-color: transparent;
      border-right-color: transparent;
      z-index: 50;
    }

    &__item {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 40px;
      z-index: 60;
      font-weight: 400;

      &:hover {
        background-color: $main;
        color: #fff;
        cursor: pointer;
      }
    }
  }
}

.ckeck-all__wrap {
  position: absolute;
  top: 23px;
  left: 18px;
  border: 1px solid $border;
  border-radius: 3px;
  width: 45px;
  height: 29px;

  &:after {
    position: absolute;
    top: 50%;
    right: 4px;
    display: inline-block;
    content: "";
    width: 0;
    height: 0;
    margin-top: -2px;
    pointer-events: none;
    border-top: 4px solid rgba(#000, .3);
    border-right: 4px solid transparent;
    border-bottom: 4px solid transparent;
    border-left: 4px solid transparent;
  }
}
