$mq: 1024px;

.theme {
  display: flex; // flex: 1;
  //  flex-basis: 100%;
  // height: 100vh;
  @media (max-width: 1024px) {
    flex-direction: column;
  }
  .section__label {
    font-size: 15px;
  }
  .preview-wrap.preview-wrap {
    position: relative; // @media (max-width: $mq) {
    //   position: fixed;
    //   top: 0;
    //   z-index: 500;
    //   padding: 0;
    //   padding-top: 8px;
    //   padding-bottom: 8px;
    //   padding-top: 0;
    // }
    // @media (max-width: 1000px)  {
    //   position: relative;
    // }
    @media (max-width: 640px) {
      position: relative;
    }

    @media (orientation: landscape) {
      position: relative;
    } // @media (max-width: $mq) and (orientation: landscape) {
    //   position: relative;
    // }
  }
  .theme-wrap {
    display: flex;
    flex-direction: column;
    position: relative;
    top: 60px;
    min-height: 215px;
    min-width: 300px; // top: -185px;

    @media (min-height: 788px) {
      position: sticky;
    }
    .sdl-theme {
      position: relative;
      z-index: 300;
      top: 0;
      bottom: 0;
      transform: translateY(0);

      @media (max-width: $mq) {
        // position: static;
        // min-height: 150px;
        top: 0;
      }
    }

    @media (max-width: $mq) {
      display: flex;
      align-items: center;
      position: static;
      flex-direction: row;
      min-height: 150px;
      padding-top: 10px;
      padding-bottom: 5px;
    }

    @media (max-width: 640px) {
      flex-direction: column;
    }
  }
  .theme-wrap__block {
    height: 21vh;

    @media (max-width: $mq) {
      height: auto;
    }
  }
  .form-wrap {
    // width: 50%;
    // flex-grow: 1;
    display: flex; // flex-direction: column;
    // align-items: center;
    // height: 97.5vh;
    // height: auto;
    flex: 1;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 0;
    min-width: 620px;
    .theme-form {
      position: relative;
      display: flex;
      flex-direction: column;
      width: 100%;
      outline: none; // margin-top: 20px;
    }
    .to-discounts {
      position: sticky;
      top: 2px;
      margin-bottom: 0;
      padding-bottom: 15px;
      padding-top: 20px;
      z-index: 499;
      background-color: #f4f6f8;
    }

    @media (max-width: $mq) {
      order: 1;
    } // @media (max-width: $mq) and (orientation: portrait) {
    // }
    @media (max-width: $mq) {
      // margin-top: 265px;
      .to-discounts {
        position: relative; // top: 267px;
      }
    } // @media (max-width: 640px) {
    //   margin-top: 0;
    //   .to-discounts {
    //     top: 1px;
    //   }
    // }
    // @media (orientation: landscape) {
    //   margin-top: 0;
    //   .to-discounts {
    //     top: 1px;
    //   }
    // }
  }
  .preview-wrap {
    // position: relative;
    // top: -20px;
    display: flex;
    justify-content: center; // align-items: center;
    align-items: baseline; // height: 100%;
    // margin-top: 60px;
    // min-width: 350px;
    width: 50vw; // flex: 1;
    // height: 100vh;
    // min-height: 100%;
    // width: 100%;
    // background-color: #fff;
    background-color: #f1f1f1; // linear-gradient(#f1f1f1 20%, transparent 23%, transparent),
    // linear-gradient(to right, #f1f1f1 15%, transparent 18%, transparent),
    // linear-gradient(to left, #f1f1f1 15%, transparent 18%, transparent),
    // linear-gradient(to top, #f1f1f1 52%, transparent 55%, transparent);
    // linear-gradient(#f1f1f1 10%, #fff 20%, #fff 50%, #f1f1f1 60%);
    @media (max-width: $mq) {
      //  background: #f1f1f1;
    } // border-left: 1px solid $border;
    // flex-grow: 1;
    // align-items: flex-end;
    // height: 100%;
    // align-self:  stretch;
    // margin-bottom: -20px;
    // padding-bottom: 20px;
    // padding-top: 20px;
    @media (max-width: 1024px) {
      order: 0; // flex: 1;
      width: 100vw;
      margin-bottom: 5px;
    } // .sdl-theme {
    //   box-shadow: 0 0 40px 30px #fff
    // }
  }
  .control__indicator {
    position: relative;
    top: 10px;
  }
  .check-wrap {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 10px;
    &.popup {
      justify-content: flex-start;
    }
  }
  .check-wrap--popup {
    flex-direction: column;
    margin-bottom: 0;
    .check-wrap__block:not(:last-child) {
      margin-bottom: 10px;
    }
    .section__label {
      margin-right: 10px;
    }
    .section__label.popup {
      margin-right: 14px;
    }
  }
  .check-wrap__block {
    display: flex;
  }
  .props-wrap {
    display: flex;
    margin-left: 5px;
  }
  .action-dropdown {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 41px; // top: 102px;
    left: 259px;
    width: 76px;
    background-color: #fff;
    box-shadow: 0 0 30px rgba(0, 0, 0, .1);
    list-style: none;
    padding: 0;
    border-radius: 3px;
    border: 1px solid $border;
    opacity: 0;
    transform: scale(0);
    transition: opacity .2s ease;
    z-index: 500;
    z-index: 505;
    user-select: none;
    &.visible {
      opacity: 1;
      transform: scale(1);
      transition: opacity .2s ease;
    }
    &__item {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 30px;
      min-height: 30px;
      font-weight: 400; // padding: 0 1px;
      width: 100%; // border-bottom: 1px solid #e3e5e7;
      &:hover {
        background-color: $main;
        color: #fff;
        cursor: pointer;
      }
      &.selected {
        background-color: $main;
        color: #fff;
      }
    }
    &.font-family {
      left: 340px;
      width: 150px;
      max-height: 280px;
      overflow-y: auto; // &.code {
      //   left: 340px;
      // }
      //       &.action-dropdown--timer {
      //         left: 352px;
      //       }
    } // &.mode-1 {
    //   top: 252px; // z-index: 505;
    // }
    // &.mode-2 {
    //   top: 402px;
    // }
    // &.mode-3 {
    //   top: 552px;
    // }
    &.mode-4 {
      top: -271px;
      &.font-size {
        top: -204px;
      }
    }
    &.mode-5 {
      // top: 773px;
      top: -272px;
      &.image-size,
      &.font-size {
        top: -204px;
      }
    }
    &.image-size {
      left: 203px;
    } // &.mode-1 {
    //   top: 252px; // z-index: 505;
    // }
    // &.mode-2 {
    //   top: 402px;
    // }
    // &.mode-3 {
    //   top: 552px;
    // }
    // &.mode-4 {
    //   top: 390px;
    //   &.font-size {
    //     top: 458px;
    //   }
    // }
    // &.mode-5 {
    //   top: 773px;
    //   top: 540px;
    //   &.image-size,
    //   &.font-size {
    //     top: 608px;
    //   }
    // } // &.image-size {
    // //   left: 203px;
    // }
    &.popup {
      flex-direction: row;
      justify-content: space-between;
      left: 122px;
      top: 55px;
      width: 149px;
      height: 104px;
      z-index: 660;
      .position-controls-wrap {
        position: relative;
        height: 90px;
        width: 100%;
      }
      .range-wrap {
        position: relative;
        top: 33px;
        left: 28px;
        width: 85px;
        transform: rotate(90deg);
        .input-range {
          width: 100%;
        }
      }
      .range-value {
        position: absolute;
        display: inline-block;
        width: 32px;
        text-align: center;
      }
      .radio {
        position: absolute; // top: 50%;
        // transform: translateY(-8px);
      }
      .radio:first-child {
        left: 6px;
      }
      .radio:last-child {
        right: -9px;
      }
    }
    &.border {
      left: 121px;
      top: 83px;
      z-index: 500;
    }
    &.corner {
      left: 77px;
      top: 171px;
      z-index: 499;
    }
    &.image-position {
      // top: 265px;
      // left: 289px;
      left: 80px;
      width: 120px;
    }
  }
  .button-submit {
    order: 10;
    width: 90px; //  border: 1px solid #3F4EAE;
  }
}

.color-picker {
  position: absolute;
  top: 118px;
  left: 79px;
  padding: 10px;
  border-radius: 3px;
  box-shadow: 0 0 15px rgba(#000, .3);
  background-color: rgb(250, 250, 250);
  z-index: 200;
  &.mode-1 {
    top: 266px;
  }
  &.mode-2 {
    top: 417px;
  }
  &.mode-3 {
    top: 567px;
  }
  &.mode-4 {
    top: -228px;
  }
  &.mode-5 {
    top: -228px;
  } // &.timer {
  //   left: 82px;
  // }
  &.theme,
  &.close,
  &.border {
    top: 450px;
    left: 40px;

    @media (max-width: $mq) {
      top: 164px;
      left: 2px;
    }
  } // &.theme {
  //      top: 371px;
  //      left: 40px;
  // }
  // &.border {
  //       top: 100px;
  //       left: 76px;
  // }
  // &.close {
  //   top: 60px;
  //   left: 324px;
  // }
}

.button-font {
  width: 40px;
  height: 30px;
  margin-top: 4px;
  border-radius: 3px;
  margin-right: 5px;
  border: 1px solid #e3e5e7;
  &.active {
    background-color: rgb(209, 209, 209);
  }
  &.italic {
    font-style: italic;
  }
  &.bold {
    font-weight: 700;
  }
  &.underline {
    text-decoration: underline;
  }
}

.button-color {
  height: 30px;
  -webkit-appearance: none;
  padding: 0;
  border: none;
  border-radius: 3px;
  &::-webkit-color-swatch-wrapper {
    border: none;
    border-radius: 3px;
    padding: 0;
  }
  &::-webkit-color-swatch {
    border: 1px solid #e3e5e7;
    border-radius: 3px;
    padding: 0;
  }
}

.empty-box {
  height: 40px; // border: 1px solid #000;
  transform: scale(.8);
  margin-left: -10px;
  margin-right: -10px;
  &.size {
    width: 95px;
  }
  &.family {
    width: 150px;
  }
}

.select.theme {
  &.size,
  &.select--border,
  &.image-position,
  &.family {
    position: relative; // transform: scale(.93);
    // margin-left: -10px;
    margin-right: 5px;
    margin-top: 4px;
    border: solid 1px #e3e5e7;
    border-radius: 3px;
    height: 30px; // top: 192px;
    // z-index: 500;
  }
  &.size {
    width: 75px; // left: 271px;
  }
  &.family {
    // left: 346px;
    width: 150px;
  } // &.select--border {
  //   width: 25px;
  //   border: solid 1px #e3e5e7;
  // }
  &:after {
    right: .55rem;
  } //
  &.image-position {
    width: 120px; // margin-left: 55px;
  }
}

.select.theme.select--appearance {
  margin-right: 5px;
}

.section__label.theme {
  margin-top: 10px;
  margin-bottom: 0;
  min-width: 35px;
}

.form__section.draggable {
  cursor: move; // z-index: 100;
  user-select: none; // transition: all .5s ease;
  border: 2px solid transparent;
  height: 130px;
  &:hover {
    border: 2px solid rgba($main, .1);
    transition: all .5s ease;
  }
  &:active,
  &:focus {
    outline: none;
  } // }
}

.form__section.form__section--popup {
  position: relative; // top: 10px;
  // margin-top: 20px;
  @media (max-width: $mq) {
    // position: static;
    // top: 10px;
    margin-right: 20px;
    left: -20px;
    margin-top: 20px;
  }

  @media (max-width: 768px) {
    left: 0;
  }
}

.form__section.form__section--timer {
  padding-bottom: 10px;
}

.draggable-source--is-dragging {
  opacity: .5;
  border: 2px solid rgba($main, .1);
}

.drag-icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  opacity: 0;
  transition: opacity .2s ease;
}

.dropdown-block {
  display: flex;
  flex-direction: column;
  justify-content: space-between; // width: 50%;
  height: 100%; // overflow: hidden;
  // flex-grow: 0;
  padding: 3px;
  &.right {
    .control {
      padding-left: 18px;
    }
  }
} // .dropdown-item {
//   display: flex;
//   // width: 100px;
//   // height: 100%;
//   // flex-grow: 1;
//   // width: 25px;
//   // height: 15px;
//   &.top-left {
//     justify-content: flex-start;
//     align-items: flex-start;
//   }
//   &.center-left {
//     justify-content: flex-start;
//     align-items: center;
//   }
//   &.bottom-left {
//     justify-content: flex-start;
//     align-items: flex-end;
//   }
//   &.top-right {
//     justify-content: flex-end;
//     align-items: flex-start;
//     }
//   &.center-right {
//     justify-content: flex-end;
//     align-items: center;
//   }
//   &.bottom-right {
//     // justify-content: flex-end;
//     // align-items: flex-end;
//     // .control
//   }
// }

.form__input.area {
  padding-bottom: 0;
  min-height: 40px;
  height: 40px;
  max-height: 175px;
  resize: none; // background-color: transparent;
  // color: transparent;
  caret-color: #000;
}

.wysiwyg {
  position: absolute;
  top: 51px;
  left: 21px;
  width: 536px;
  height: 40px;
  padding: 10px 0 10px 10px;
  background-color: #fff;
  z-index: -1;
  font-family: Lato, Arial, sans-serif;
  font-size: 14px;
  letter-spacing: normal;
  word-wrap: break-word;
  white-space: pre-wrap;
}

.form__input--wrap {
  display: flex;
  align-items: center;
  justify-content: space-around;
  max-width: 492px;
  margin-left: 13px;
}

.form__input--timer {
  display: flex;
  align-items: center; // width: 15%;
  .form__input {
    width: 60px;
    margin-left: 10px;
    margin-right: 5px;
  }
  .control {
    padding-left: 0;
    top: -3px;
  }
}

.timepicker-popup {
  position: absolute;
  left: 154px;
  top: -15px;
  z-index: 500;
  display: flex;
  background-color: #fff;
  box-shadow: 0 0 30px rgba(0, 0, 0, .1);
  border-radius: 3px;
  border: 1px solid #e3e5e7;
  padding: 20px;
}

.form__input.datepicker,
.form__input.timepicker {
  // width: 120px;
  text-align: center;
  padding-left: 0;
  margin-bottom: 10px;
  padding-right: 15px;
}

.form__input--wrap.form__input--wrap--timer {
  justify-content: flex-start;
  align-items: center;
}

.radio-wrap {
  margin-right: 20px;
  .radio {
    margin-bottom: 10px;
  }
}

.qs-datepicker {
  border: none;
  box-shadow: 0 0 30px rgba(0, 0, 0, .1);
  top: 40px !important; // z-index: 650 !important;
  &.mode-4,
  &.mode-5 {
    top: -188px !important;
  }
}

.overlay--hard.overlay--theme {
  z-index: 600;
}

.check-wrap .control--checkbox {
  z-index: 650;
  .control__indicator {
    border-color: #5664bb;
    border-width: 2px;
  }
}

.datepicker-wrap {
  position: relative;
  display: flex;
  .datepicker__icon {
    position: absolute;
    top: 6px;
    right: 5px;
    fill: #3d3d3d;
  }
}

.image-wrap--preview {
  width: 290px;
  margin-top: 10px; // height: 100px;
  margin-left: 57px;
  img {
    max-width: 100%;
  }
}

.image-info-wrap {
  display: flex;
  margin-left: 57px;
}

.file {
  width: 200px;
  height: 30px;
  margin-right: 10px;
  margin-top: 4px;
}

.file-custom {
  height: 30px;
  padding: 2px 5px 5px 15px;
  &:before {
    height: 20px;
    padding: 5px;
    padding-top: 2px;
  }
}

.props-wrap--image {
  width: 78%;
}
