<section class="form-wrap">
    <form data-form class="theme-form">
        <button type="button" class="button-default button-back to-discounts" data-goBack>
            <svg class="nav-icon back-icon" width="24" height="24">
                <use xlink:href="#back" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
            </svg>
            Link
        </button>

        {% for item in data | sortObjectToArray('order') %}
            {% if item.name === 'text' %}
                {% include "templates/themes/theme/items/text" %}
            {% elif item.name === 'secondary' %}
                {% include "templates/themes/theme/items/secondary" %}
            {% elif item.name === 'thirdly' %}
                {% include "templates/themes/theme/items/thirdly" %}
            {% elif item.name === 'code_text' %}
                {% include "templates/themes/theme/items/code_text" %}
            {% elif item.name === 'timer' %}
                {% include "templates/themes/theme/items/timer" %}
            {% elif item.name === 'image' %}
                {% include "templates/themes/theme/items/image" %}
            {% endif %}
        {% endfor %}

        <button type="submit" class="button-default button-base button-submit" data-submit>Save</button>
    </form>
</section>

<section class="preview-wrap">
    <div class="theme-wrap">
        <div class="">
            {% include "templates/themes/theme/items/popup" %}
        </div>
        <div class="theme-wrap__block">
            {% include "themes/theme" %}
        </div>
    </div>
</section>
