@import "./variables";
@import "./loader";
@import "../icons/styles";
@import "./common/styles";
@import "../components/common/header/styles";
@import "../components/common/container/styles";
@import "../components/common/footer/styles";
@import "../components/links/styles";
@import "../components/links/link/styles";
@import "../components/themes/styles";
@import "../components/themes/theme/styles";
@import "../components/links/link/edit/styles";
@import "../components/links/link/helpers/discount-modal/styles";
@import "../components/discounts/styles";
@import "../components/discounts/discount/styles";
@import "../components/discounts/discount/edit/styles";
@import "../components/statistics/styles";

html {
  position: relative;
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  height: 100%;
  background-color: $bg-color;
  color: $text-color;
  font-family: $main-font; // overflow: hidden;
  overflow-x: hidden;
  margin-right: calc(-1 * (100vw - 100%));
  background-color: #fff;
  &.locked {
    position: fixed;
    width: 100%;
    overflow-y: scroll;
  }

  @media (max-width: 660px) {
    overflow-x: auto;
  }
}

.main-container {
  background-color: $bg-color;
}

.overlay--dark {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  margin: auto;
  background-color: #020725;
  opacity: .25;
  z-index: 2000;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(#fff, .5);
  z-index: 400;
}

.overlay--hard {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(#fff, .75);
  z-index: 400;
}

// div[data-page] {
//   margin-right: calc(-1 * (100vw - 100%));
// }

* {
  box-sizing: border-box;
  outline-color: $main;
}

input::-ms-clear {
  display: none;
}

.hidden {
  display: none !important;
}

// .theme-wrap {
//   display: flex;
//   flex-direction: column;
//   justify-content: center;
//   align-items: center;
//   width: 300px;
//   height: 150px;
//   padding: 10px;
//   border-radius: 3px;
//   background-color: #252323;
//   color: #fff;
//   overflow: hidden;
// }
