.loader {
  position: absolute;
  top: 44%;
  left: calc(50% - 60px);
  width: 234px;
  height: 28px;
  z-index: 500;
}

.bubble {
  position: absolute;
  top: 0;
  background-color: $main;
  width: 75px;
  height: 75px;
  animation-name: loading;
  animation-duration: .8s;
  animation-delay: .8s;
  animation-iteration-count: infinite;
  animation-direction: normal;
  transform: scale(0);
  border-radius: 19px;
}

.bubble__1 {
  left: 0;
  animation-delay: 1s;
}

.bubble__2 {
  left: 35px;
  animation-delay: 1.2s;
}

.bubble__3 {
  left: 70px;
  animation-delay: 1.4s;
}

@keyframes loading {
  0% {
    transform: scale(1);
    background-color: $main;
  }

  0% {
    transform: scale(.5);
    background-color: $main;
  }

  100% {
    transform: scale(.3);
    background-color: $bg-color;
  }
}
