/* stylelint-disable */

$main: #5664BB;
$purple-darker: #4B59AD;
$red:  #EF5353;
$red-light:  rgba(#EE5252, .2);
$green: #bbe5b3;
$blue: #007ace;

$text-color: #212b35;
$gray: #818181;
$gray-l: #999;

$active-bg: $green;
$active-color: #212b35;
$expired-bg: #dfe4e8;
$expired-color: #576775;

$border: #e3e5e7;
$bg-color: #f4f6f8;
$main-font: Lato, Arial, sans-serif;
