        <div class="form__section draggable" data-name="code_text" data-draggable>
            <div class="overlay--hard overlay--theme {{ 'hidden' if data.code_text.state === true }}" data-overlay="code_text"></div>
            <div class="check-wrap">
                <label for="codeText" class="section__label theme">code</label>

                 <div class="props-wrap">
                    <input type="color" class="button-default button-font button-color" value="{{ data.code_text.color if data.code_text.color else '#ffffff' }}" data-color="code_text" data-color-picker="Code_text" title="Text color">

                    <button type="button" class="button-default button-font italic {{ 'active' if data.code_text.style === 'italic' }}" data-fontStyle data-type="fontStyle" data-style="italic" data-save="style" data-el="code_text" title="Italic">i</button>
                    <button type="button" class="button-default button-font bold  {{ 'active' if data.code_text.weight === 'bold' }}" data-fontStyle data-type="fontWeight" data-style="bold" data-save="weight" data-el="code_text" title="Bold">b</button>
                    <button type="button" class="button-default button-font underline {{ 'active' if data.code_text.decoration === 'underline' }}" data-fontStyle data-type="textDecoration" data-save="decoration" data-style="underline" data-el="code_text" title="Underline">u</button>

                    <div class="select theme size">
                        <button type="button" class="button-default button-select" data-toggleDropdown="code_textSize">
                            {% for item in data.sizes %}
                                {% if data.code_text.size == item %}
                                    {{ item }}px
                                {% endif %}
                            {% endfor %}
                            {% if not data.code_text.size %}
                                Size
                            {% endif %}
                        </button>
                    </div>
                    <div class="select theme family">
                        <button type="button" class="button-default button-select" data-toggleDropdown="code_textFamily" style="font-family:{{ data.code_text.family }}">
                            {% for item in data.fonts %}
                                {% if data.code_text.family === item %}
                                    {{ item }}
                                {% endif %}
                            {% endfor %}
                            {% if not data.code_text.family %}
                                Font
                            {% endif %}
                        </button>
                    </div>
                </div>

                <label class="control control--checkbox">
                    <input type="checkbox" data-check="code_text" {{ 'checked' if data.code_text.state }}>
                    <div class="control__indicator"></div>
                </label>
            </div>
            <input type="text" value="{{ data.code_text.value }}" id="codeText" data-codeText class="form__input">
                            {# <div class="color-picker hidden {{ 'mode-' + data.code_text.order }}" data-colorPicker="code_text"></div> #}

                <ul class="action-dropdown font-size code {{ 'mode-' + data.code_text.order }}" data-dropdown="code_textSize" data-type="code_text">
                        {% for item in data.sizes %}
                             <li class="action-dropdown__item {{ 'selected' if item == data.code_text.size }}" data-fontSize="{{ item }}" data-el="code_text">{{ item }}px</li>
                        {% endfor %}
                    </ul>
                    <ul class="action-dropdown code font-family {{ 'mode-' + data.code_text.order }}" data-dropdown="code_textFamily" data-type="code_text">
                        {% for item in data.fonts %}
                             <li class="action-dropdown__item {{ 'selected' if item == data.code_text.family }}" data-fontFamily="{{ item }}" style="font-family: {{ item }}" data-el="code_text">{{ item }}</li>
                        {% endfor %}
                    </ul>
        </div>

         <div class="color-picker hidden {{ 'mode-' + data.code_text.order }}" data-colorPicker="code_text"></div>

                {# <div class="color-picker hidden {{ 'mode-' + data.code_text.order }}" data-colorPicker="code_text"></div>

                <ul class="action-dropdown font-size code {{ 'mode-' + data.code_text.order }}" data-dropdown="code_textSize" data-type="code_text">
                        {% for item in data.sizes %}
                             <li class="action-dropdown__item {{ 'selected' if item == data.code_text.size }}" data-fontSize="{{ item }}" data-el="code_text">{{ item }}px</li>
                        {% endfor %}
                    </ul>
                    <ul class="action-dropdown code font-family {{ 'mode-' + data.code_text.order }}" data-dropdown="code_textFamily" data-type="code_text">
                        {% for item in data.fonts %}
                             <li class="action-dropdown__item {{ 'selected' if item == data.code_text.family }}" data-fontFamily="{{ item }}" style="font-family: {{ item }}" data-el="code_text">{{ item }}</li>
                        {% endfor %}
                    </ul> #}
