        <div class="form__section draggable" data-name="image" data-draggable>
            <div class="overlay--hard overlay--theme {{ 'hidden' if data.image.state === true }}" data-overlay="image"></div>
            <div class="check-wrap">
                <label for="imageText" class="section__label theme">image</label>

                 <div class="props-wrap props-wrap--image">
                    {# <input type="color" class="button-default button-font button-color" value="{{ data.image.color if data.image.color else '#ffffff' }}" data-color="image" data-color-picker="Image" title="Text color"> #}

                    {# <button type="button" class="button-default button-font italic {{ 'active' if data.image.style === 'italic' }}" data-fontStyle data-type="fontStyle" data-style="italic" data-save="style" data-el="image" title="Italic">i</button> #}
                    {# <button type="button" class="button-default button-font bold  {{ 'active' if data.image.weight === 'bold' }}" data-fontStyle data-type="fontWeight" data-style="bold" data-save="weight" data-el="image" title="Bold">b</button> #}
                    {# <button type="button" class="button-default button-font underline {{ 'active' if data.image.decoration === 'underline' }}" data-fontStyle data-type="textDecoration" data-save="decoration" data-style="underline" data-el="image" title="Underline">u</button> #}

                                  <div class="select theme image-position">
                        <button type="button" class="button-default button-select" data-toggleDropdown="imagePosition">
                            {% for item in data.images.position %}
                                {% if data.images.postion == item %}
                                    {{ item }}px
                                {% endif %}
                            {% endfor %}

                        </button>
                    </div>

                    <div class="select theme size">
                        <button type="button" class="button-default button-select" data-toggleDropdown="imageSize">
                            {% for item in data.sizes %}
                                {% if data.image.size == item %}
                                    {{ item }}px
                                {% endif %}
                            {% endfor %}
                            {% if not data.image.size %}
                                Size
                            {% endif %}
                        </button>
                    </div>



                    {# <div class="select theme family">
                        <button type="button" class="button-default button-select" data-toggleDropdown="imageFamily" style="font-family:{{ data.image.family }}">
                            {% for item in data.fonts %}
                                {% if data.image.family === item %}
                                    {{ item }}
                                {% endif %}
                            {% endfor %}
                            {% if not data.image.family %}
                                Font
                            {% endif %}
                        </button>
                    </div> #}
                </div>

                <button type="button" data-send>send</button>
                <label class="control control--checkbox">
                    <input type="checkbox" data-check="image" {{ 'checked' if data.image.state }}>
                    <div class="control__indicator"></div>
                </label>
            </div>
            {# <input type="text" value="{{ data.image.value }}" id="imageText" data-imageText class="form__input"> #}


            <div class="image-info-wrap">

                              <label class="file">
                        <input type="file" data-image>
                        <span class="file-custom"></span>
                    </label>




                <div class="image-wrap--preview hidden">
                    <image src="{{ data.image.src }}" alt="" data-imagePrev>
                </div>
                <ul class="hidden">
                    <li>{{ data.image.title }}</li>
                    <li>{{ data.image.size | bytesToSize }}</li>
                </ul>
            </div>

                            <ul class="action-dropdown font-size image-position {{ 'mode-' + data.image.order }}" data-dropdown="imagePosition" data-type="image">
                        {% for item in data.images.position %}
                             <li class="action-dropdown__item {{ 'selected' if item == data.image.position }}" data-imagePosition="{{ item }}" data-el="imagePosition">{{ item | capitalize }}</li>
                        {% endfor %}
                    </ul>
                <ul class="action-dropdown font-size image-size {{ 'mode-' + data.image.order }}" data-dropdown="imageSize" data-type="image">
                        {% for item in data.sizes %}
                             <li class="action-dropdown__item {{ 'selected' if item == data.image.position }}" data-imageSize="{{ item }}" data-el="image">{{ item }}px</li>
                        {% endfor %}
                    </ul>

        </div>

                {# <div class="color-picker hidden {{ 'mode-' + data.image.order }}" data-colorPicker="image"></div> #}

                {# <ul class="action-dropdown font-size image-position {{ 'mode-' + data.image.order }}" data-dropdown="imagePosition" data-type="image">
                        {% for item in data.images.position %}
                             <li class="action-dropdown__item {{ 'selected' if item == data.image.position }}" data-imagePosition="{{ item }}" data-el="imagePosition">{{ item | capitalize }}</li>
                        {% endfor %}
                    </ul>
                <ul class="action-dropdown font-size image-size {{ 'mode-' + data.image.order }}" data-dropdown="imageSize" data-type="image">
                        {% for item in data.sizes %}
                             <li class="action-dropdown__item {{ 'selected' if item == data.image.position }}" data-imageSize="{{ item }}" data-el="image">{{ item }}px</li>
                        {% endfor %}
                    </ul> #}
                    {# <ul class="action-dropdown image font-family {{ 'mode-' + data.image.order }}" data-dropdown="imageFamily" data-type="image">
                        {% for item in data.fonts %}
                             <li class="action-dropdown__item {{ 'selected' if item == data.image.family }}" data-fontFamily="{{ item }}" style="font-family: {{ item }}" data-el="image">{{ item }}</li>
                        {% endfor %}
                    </ul> #}
