        <div class="form__section form__section--popup">
            <div class="check-wrap check-wrap--popup">
            <div class="check-wrap__block">

                <label for="secondary_text" class="section__label theme popup">Popup</label>

                <input type="color"
                class="button-default button-font button-color"
                value="{{ data.theme.color }}"
                data-color="theme" data-color-picker="theme" title="Theme background color">

                <div class="select theme family select--appearance">
                    <button type="button" class="button-default button-select" data-toggleDropdown="appearance">
                    Appearance
                        {# {% for item in data.sizes %}
                            {% if data.text.size == item %}
                                {{ item }}px
                            {% endif %}
                        {% endfor %}
                        {% if not data.text.size %}
                            Size
                        {% endif %} #}
                    </button>
                </div>
            </div>
            <div class="check-wrap__block">
                 <label for="secondary_text" class="section__label theme">Border</label>
                 <input type="color"
                    class="button-default button-font button-color"
                    value="{{ data.border.color }}"
                    data-color="border" data-color-picker="border" title="Popup border color">

                    <div class="select theme size">
                        <button type="button" class="button-default button-select" data-toggleDropdown="border">
                            {% for item in data.borders %}
                                {% if data.border.size == item %}
                                    {{ item }}px
                                {% endif %}
                            {% endfor %}
                        </button>
                    </div>
                    <ul class="action-dropdown border" data-dropdown="border" data-type="border">
                        {% for item in data.borders %}
                             <li class="action-dropdown__item {{ 'selected' if item == data.border.size }}" data-el="border" data-border data-size="{{ item }}">{{ item }}px</li>
                        {% endfor %}
                    </ul>

                    <label class="control control--checkbox">
                    <input type="checkbox" data-check="theme" {{ 'checked' if data.border.state }}>
                    <div class="control__indicator"></div>
                </label>

            </div>

            <div class="check-wrap__block">
                 <label for="secondary_text" class="section__label theme ">Button</label>
                 <input type="color"
                    class="button-default button-font button-color"
                    value="{{ data.close.color }}"
                    data-color="close" data-color-picker="close" title="Close button color">
            </div>

            <div class="check-wrap__block">
                 <label for="secondary_text" class="section__label theme">Corner</label>

                    <div class="select theme size">
                        <button type="button" class="button-default button-select" data-toggleDropdown="corner">
                            {% for item in data.corners %}
                                {% if data.corner == item %}
                                    {{ item }}px
                                {% endif %}
                            {% endfor %}
                        </button>
                    </div>
                    <ul class="action-dropdown corner" data-dropdown="corner" data-type="corner">
                        {% for item in data.corners %}
                             <li class="action-dropdown__item {{ 'selected' if item == data.corner }}" data-el="corner" data-corner data-size="{{ item }}">{{ item }}px</li>
                        {% endfor %}
                    </ul>
                </label>

            </div>

            </div>
            <div class="color-picker theme hidden" data-colorPicker="theme"></div>
            <div class="color-picker border hidden" data-colorPicker="border"></div>
            <div class="color-picker close hidden" data-colorPicker="close"></div>

             <div class="action-dropdown popup" data-dropdown="appearance" data-type="appearance">
                <div class="position-controls-wrap">
                <label class="control radio" style="top: {{ data.theme.position.prev.top }}">
                {# <label class="control radio" style="top: 50%; transform: translateY(-8px);"> #}
                    <input
                        type="radio"
                        name="appearance"
                        value="left"
                        data-appearanceRadio="left"
                        {{ 'checked' if data.theme.position.prev.side === 'left' }}>
                    <span class="control-indicator"></span>
                    <span class="control-indicator-ring" tabindex="0"></span>
                </label>

                <span class="range-value" data-rangeValue style="top: {{ data.theme.position.prev.top }}; {{ data.theme.position.prev.side }}: 27px;">
                    {{ data.theme.position.value }}
                    {# <small>%</small> #}
                </span>

                <div class="range-wrap">
                    <input class="input-range" type="range" min="0" max="100" step="1" value="{{ data.theme.position.value }}" data-popupPosition>
                </div>

                <label class="control radio" style="top: {{ data.theme.position.prev.top }}">
                {# <label class="control radio" style="top: 50%; transform: translateY(-8px);"> #}
                    <input
                        type="radio"
                        name="appearance"
                        value="right"
                        data-appearanceRadio="right"
                        {{ 'checked' if data.theme.position.prev.side === 'right' }}>
                    <span class="control-indicator"></span>
                    <span class="control-indicator-ring" tabindex="0"></span>
                </label>

                </div>
             </div>
             {# <div class="action-dropdown popup" data-dropdown="appearance" data-type="appearance">
                {% for item in data.appearance %}
                    <div class="dropdown-block {{ 'right' if loop.index === 3 }}">
                        {% for label in item %}
                            <label class="control radio">
                                <input
                                    type="radio"
                                    name="appearance"
                                    value="{{ label }}"
                                    data-appearanceRadio
                                    {% if data.theme.appearance %}
                                    {{ 'checked' if label == data.theme.appearance }}
                                    {% else %} {{ 'checked' if loop.index === 3 }}
                                    {% endif %}>
                                <span class="control-indicator"></span>
                                <span class="control-indicator-ring" tabindex="0"></span>
                            </label>
                        {% endfor %}
                    </div>
                {% endfor %}
             </div> #}
        </div>
