        <div class="form__section draggable" data-name="secondary" data-draggable>
            <div class="overlay--hard overlay--theme {{ 'hidden' if data.secondary.state === true }}" data-overlay="secondary"></div>
            <div class="check-wrap">
                <label for="secondary_text" class="section__label theme">text</label>

                <div class="props-wrap">
                    <input type="color" class="button-default button-font button-color" value="{{ data.secondary.color if data.secondary.color else '#ffffff' }}" data-color="secondary" data-color-picker="Secondary" title="Text color">

                    <button type="button" class="button-default button-font italic {{ 'active' if data.secondary.style === 'italic' }}" data-fontStyle data-type="fontStyle" data-style="italic" data-save="style" data-el="secondary" title="Italic">i</button>
                    <button type="button" class="button-default button-font bold  {{ 'active' if data.secondary.weight === 'bold' }}" data-fontStyle data-type="fontWeight" data-style="bold" data-save="weight" data-el="secondary" title="Bold">b</button>
                    <button type="button" class="button-default button-font underline {{ 'active' if data.secondary.decoration === 'underline' }}" data-fontStyle data-type="textDecoration" data-save="decoration" data-style="underline" data-el="secondary" title="Underline">u</button>

                    <div class="select theme size">
                        <button type="button" class="button-default button-select" data-toggleDropdown="secondarySize">
                            {% for item in data.sizes %}
                                {% if data.secondary.size == item %}
                                    {{ item }}px
                                {% endif %}
                            {% endfor %}
                            {% if not data.secondary.size %}
                                Size
                            {% endif %}
                        </button>
                    </div>
                    <div class="select theme family">
                        <button type="button" class="button-default button-select" data-toggleDropdown="secondaryFamily" style="font-family:{{ data.secondary.family }}">
                            {% for item in data.fonts %}
                                {% if data.secondary.family === item %}
                                    {{ item }}
                                {% endif %}
                            {% endfor %}
                            {% if not data.secondary.family %}
                                Font
                            {% endif %}
                        </button>
                    </div>
                </div>

                <label class="control control--checkbox">
                    <input type="checkbox" data-check="secondary" {{ 'checked' if data.secondary.state }}>
                    <div class="control__indicator"></div>
                </label>
            </div>
            <input type="text" value="{{ data.secondary.value }}" id="secondaryText" data-secondary class="form__input">

        <ul class="action-dropdown font-size {{ 'mode-' + data.secondary.order }}" data-dropdown="secondarySize" data-type="secondary">
                        {% for item in data.sizes %}
                             <li class="action-dropdown__item {{ 'selected' if item == data.secondary.size }}" data-fontSize="{{ item }}" data-el="secondary">{{ item }}px</li>
                        {% endfor %}
                    </ul>
                    <ul class="action-dropdown font-family {{ 'mode-' + data.secondary.order }}" data-dropdown="secondaryFamily" data-type="secondary">
                        {% for item in data.fonts %}
                             <li class="action-dropdown__item {{ 'selected' if item == data.secondary.family }}" data-fontFamily="{{ item }}" style="font-family: {{ item }}" data-el="secondary">{{ item }}</li>
                        {% endfor %}
                    </ul>
        </div>
         <div class="color-picker hidden {{ 'mode-' + data.secondary.order }}" data-colorPicker="secondary"></div>
        {# <div class="color-picker hidden {{ 'mode-' + data.secondary.order }}" data-colorPicker="secondary"></div>
        <ul class="action-dropdown font-size {{ 'mode-' + data.secondary.order }}" data-dropdown="secondarySize" data-type="secondary">
                        {% for item in data.sizes %}
                             <li class="action-dropdown__item {{ 'selected' if item == data.secondary.size }}" data-fontSize="{{ item }}" data-el="secondary">{{ item }}px</li>
                        {% endfor %}
                    </ul>
                    <ul class="action-dropdown font-family {{ 'mode-' + data.secondary.order }}" data-dropdown="secondaryFamily" data-type="secondary">
                        {% for item in data.fonts %}
                             <li class="action-dropdown__item {{ 'selected' if item == data.secondary.family }}" data-fontFamily="{{ item }}" style="font-family: {{ item }}" data-el="secondary">{{ item }}</li>
                        {% endfor %}
                    </ul> #}
