        <div class="form__section draggable" data-name="text" title="Drag to change position" data-draggable>
            <div class="overlay--hard overlay--theme {{ 'hidden' if data.text.state === true }}" data-overlay="text"></div>
            <div class="check-wrap">
                <label for="text" class="section__label theme">text</label>

                <div class="props-wrap">
                    <input type="color" class="button-default button-font button-color" value="{{ data.text.color if data.text.color else '#ffffff' }}" data-color="text" data-color-picker="Text" title="Text color">

                    <button type="button" class="button-default button-font italic {{ 'active' if data.text.style === 'italic' }}" data-fontStyle data-type="fontStyle" data-style="italic" data-save="style" data-el="text" title="Italic">i</button>
                    <button type="button" class="button-default button-font bold  {{ 'active' if data.text.weight === 'bold' }}" data-fontStyle data-type="fontWeight" data-style="bold" data-save="weight" data-el="text" title="Bold">b</button>
                    <button type="button" class="button-default button-font underline {{ 'active' if data.text.decoration === 'underline' }}" data-fontStyle data-type="textDecoration" data-save="decoration" data-style="underline" data-el="text" title="Underline">u</button>

                    <div class="select theme size">
                        <button type="button" class="button-default button-select" data-toggleDropdown="textSize">
                            {% for item in data.sizes %}
                                {% if data.text.size == item %}
                                    {{ item }}px
                                {% endif %}
                            {% endfor %}
                            {% if not data.text.size %}
                                Size
                            {% endif %}
                        </button>
                    </div>
                    <div class="select theme family">
                        <button type="button" class="button-default button-select" data-toggleDropdown="textFamily" style="font-family:{{ data.text.family }}">
                            {% for item in data.fonts %}
                                {% if data.text.family === item %}
                                    {{ item }}
                                {% endif %}
                            {% endfor %}
                            {% if not data.text.family %}
                                Font
                            {% endif %}
                        </button>
                    </div>
                </div>

                <label class="control control--checkbox theme">
                    <input type="checkbox" data-check="text" {{ 'checked' if data.text.state }}>
                    <div class="control__indicator"></div>
                </label>
            </div>

            <textarea id="text" data-text class="form__input area" style="height: {{ 25 + data.text.rows * 15 }}px" spellcheck="false">{{ data.text.value }}</textarea>
            {# <pre class="wysiwyg" data-wysiwyg>{{ data.text.prev | cutomTrim | safe }}</pre> #}
            {# <input type="text" value="{{ data.text.value }}" id="text" data-text class="form__input"> #}

        <ul class="action-dropdown font-size {{ 'mode-' + data.text.order }}" data-dropdown="textSize" data-type="text">
             {% for item in data.sizes %}
                  <li class="action-dropdown__item {{ 'selected' if item == data.text.size }}" data-fontSize="{{ item }}" data-el="text">{{ item }}px</li>
             {% endfor %}
         </ul>
         <ul class="action-dropdown font-family {{ 'mode-' + data.text.order }}" data-dropdown="textFamily" data-type="text">
             {% for item in data.fonts %}
                  <li class="action-dropdown__item {{ 'selected' if item == data.text.family }}" data-fontFamily="{{ item }}" style="font-family: {{ item }}" data-el="text">{{ item }}</li>
             {% endfor %}
         </ul>


        </div>
        <div class="color-picker {{ 'mode-' + data.text.order }} hidden" data-colorPicker="text"></div>
{#
        <div class="color-picker {{ 'mode-' + data.text.order }} hidden" data-colorPicker="text"></div>
        <ul class="action-dropdown font-size {{ 'mode-' + data.text.order }}" data-dropdown="textSize" data-type="text">
             {% for item in data.sizes %}
                  <li class="action-dropdown__item {{ 'selected' if item == data.text.size }}" data-fontSize="{{ item }}" data-el="text">{{ item }}px</li>
             {% endfor %}
         </ul>
         <ul class="action-dropdown font-family {{ 'mode-' + data.text.order }}" data-dropdown="textFamily" data-type="text">
             {% for item in data.fonts %}
                  <li class="action-dropdown__item {{ 'selected' if item == data.text.family }}" data-fontFamily="{{ item }}" style="font-family: {{ item }}" data-el="text">{{ item }}</li>
             {% endfor %}
         </ul> #}
