        <div class="form__section draggable" data-name="thirdly" data-draggable>
            <div class="overlay--hard overlay--theme {{ 'hidden' if data.thirdly.state === true }}" data-overlay="thirdly"></div>
            <div class="check-wrap">
                <label for="thirdly_text" class="section__label theme">text</label>

                <div class="props-wrap">
                    <input type="color" class="button-default button-font button-color" value="{{ data.thirdly.color if data.thirdly.color else '#ffffff' }}" data-color="thirdly" data-color-picker="Thirdly" title="Text color">

                    <button type="button" class="button-default button-font italic {{ 'active' if data.thirdly.style === 'italic' }}" data-fontStyle data-type="fontStyle" data-style="italic" data-save="style" data-el="thirdly" title="Italic">i</button>
                    <button type="button" class="button-default button-font bold  {{ 'active' if data.thirdly.weight === 'bold' }}" data-fontStyle data-type="fontWeight" data-style="bold" data-save="weight" data-el="thirdly" title="Bold">b</button>
                    <button type="button" class="button-default button-font underline {{ 'active' if data.thirdly.decoration === 'underline' }}" data-fontStyle data-type="textDecoration" data-save="decoration" data-style="underline" data-el="thirdly" title="Underline">u</button>

                    <div class="select theme size">
                        <button type="button" class="button-default button-select" data-toggleDropdown="thirdlySize">
                            {% for item in data.sizes %}
                                {% if data.thirdly.size == item %}
                                    {{ item }}px
                                {% endif %}
                            {% endfor %}
                            {% if not data.thirdly.size %}
                                Size
                            {% endif %}
                        </button>
                    </div>
                    <div class="select theme family">
                        <button type="button" class="button-default button-select" data-toggleDropdown="thirdlyFamily" style="font-family:{{ data.thirdly.family }}">
                            {% for item in data.fonts %}
                                {% if data.thirdly.family === item %}
                                    {{ item }}
                                {% endif %}
                            {% endfor %}
                            {% if not data.thirdly.family %}
                                Font
                            {% endif %}
                        </button>
                    </div>
                </div>

                <label class="control control--checkbox">
                    <input type="checkbox" data-check="thirdly" {{ 'checked' if data.thirdly.state }}>
                    <div class="control__indicator"></div>
                </label>
            </div>
            <input type="text" value="{{ data.thirdly.value }}" id="thirdlyText" data-thirdly class="form__input">
        <ul class="action-dropdown font-size {{ 'mode-' + data.thirdly.order }}" data-dropdown="thirdlySize" data-type="thirdly">
                        {% for item in data.sizes %}
                             <li class="action-dropdown__item {{ 'selected' if item == data.thirdly.size }}" data-fontSize="{{ item }}" data-el="thirdly">{{ item }}px</li>
                        {% endfor %}
                    </ul>
                    <ul class="action-dropdown font-family {{ 'mode-' + data.thirdly.order }}" data-dropdown="thirdlyFamily" data-type="thirdly">
                        {% for item in data.fonts %}
                             <li class="action-dropdown__item {{ 'selected' if item == data.thirdly.family }}" data-fontFamily="{{ item }}" style="font-family: {{ item }}" data-el="thirdly">{{ item }}</li>
                        {% endfor %}
                    </ul>
        </div>
                    <div class="color-picker hidden {{ 'mode-' + data.thirdly.order }}" data-colorPicker="thirdly"></div>
        {# <div class="color-picker hidden {{ 'mode-' + data.thirdly.order }}" data-colorPicker="thirdly"></div>
        <ul class="action-dropdown font-size {{ 'mode-' + data.thirdly.order }}" data-dropdown="thirdlySize" data-type="thirdly">
                        {% for item in data.sizes %}
                             <li class="action-dropdown__item {{ 'selected' if item == data.thirdly.size }}" data-fontSize="{{ item }}" data-el="thirdly">{{ item }}px</li>
                        {% endfor %}
                    </ul>
                    <ul class="action-dropdown font-family {{ 'mode-' + data.thirdly.order }}" data-dropdown="thirdlyFamily" data-type="thirdly">
                        {% for item in data.fonts %}
                             <li class="action-dropdown__item {{ 'selected' if item == data.thirdly.family }}" data-fontFamily="{{ item }}" style="font-family: {{ item }}" data-el="thirdly">{{ item }}</li>
                        {% endfor %}
                    </ul> #}
