        <div class="form__section draggable form__section--timer" data-name="timer" data-draggable>
            <div class="overlay--hard overlay--theme {{ 'hidden' if data.timer.state === true }}" data-overlay="timer"></div>

            <div class="check-wrap">
                <label for="timer" class="section__label theme">timer</label>

                <div class="props-wrap">
                    <input type="color" class="button-default button-font button-color" value="{{ data.timer.color if data.timer.color else '#ffffff' }}" data-color="timer" data-color-picker="Timer" title="Text color">

                    <button type="button" class="button-default button-font italic {{ 'active' if data.timer.style === 'italic' }}" data-fontStyle data-type="fontStyle" data-style="italic" data-el="timer" data-save="style" title="Italic">i</button>
                    <button type="button" class="button-default button-font bold  {{ 'active' if data.timer.weight === 'bold' }}" data-fontStyle data-type="fontWeight" data-style="bold" data-el="timer" data-save="weight" title="Bold">b</button>
                    <button type="button" class="button-default button-font underline {{ 'active' if data.timer.decoration === 'underline' }}" data-fontStyle data-type="textDecoration" data-style="underline" data-save="decoration" data-el="timer" title="Underline">u</button>

                    <div class="select theme size">
                        <button type="button" class="button-default button-select" data-toggleDropdown="timerSize">
                            {% for item in data.sizes %}
                                {% if data.timer.size == item %}
                                    {{ item }}px
                                {% endif %}
                            {% endfor %}
                            {% if not data.timer.size %}
                                Size
                            {% endif %}
                        </button>
                    </div>
                    <div class="select theme family">
                        <button type="button" class="button-default button-select" data-toggleDropdown="timerFamily" style="font-family:{{ data.timer.family }}">
                            {% for item in data.fonts %}
                                {% if data.timer.family === item %}
                                    {{ item }}
                                {% endif %}
                            {% endfor %}
                            {% if not data.timer.family %}
                                Font
                            {% endif %}
                        </button>
                    </div>
                </div>

                <label class="control control--checkbox" title="{{ 'Hide' if data.timer.state else 'Show' }} block">
                    <input type="checkbox" data-check="timer" {{ 'checked' if data.timer.state }}>
                    <div class="control__indicator"></div>
                </label>
            </div>
            <div class="form__input--wrap form__input--wrap--timer">

            <div class="radio-wrap">
                <label class="control radio" data-label>Countdown
                    <input
                    type="radio"
                    name="timer_type"
                    data-timerType
                    {{ 'checked' if data.timer.type === 'cc' }}
                    value="cc">
                    <span class="control-indicator" data-variant-indicator></span>
                    <span class="control-indicator-ring" tabindex="0" data-radio-ring></span>
                </label>

                <label class="control radio" data-label>Date
                    <input
                    type="radio"
                    name="timer_type"
                    data-timerType
                    {{ 'checked' if data.timer.type === 'to' }}
                    value="to">
                    <span class="control-indicator" data-variant-indicator></span>
                    <span class="control-indicator-ring" tabindex="0" data-radio-ring></span>
                </label>
            </div>

            <div class="datepicker-wrap {{ 'hidden' if data.timer.type === 'to' }}" data-picker-wrap="cc">
                <input type="text" value="{{ data.timer.countdown | convertTimestamp }}" data-timepicker="{{ data.timer.countdown }}" class="timepicker form__input" readonly>
                <svg class="datepicker__icon"  height="24" viewBox="0 0 24 24" width="24">
                    <use xlink:href="#timer" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                </svg>
            </div>

         <div class="timepicker-popup hidden" data-timepicker-popup>
            <div class="form__input--timer">
                <label for="day">D</label>
                <input type="number" value="{{ data.timer.countdown | convertTimestamp('day') }}" id="day" data-timer="day" class="form__input " min="0">
            </div>
            <div class="form__input--timer">
                <label for="hour">H</label>
                <input type="number" value="{{ data.timer.countdown | convertTimestamp('hour') }}" id="hour" data-timer="hour" class="form__input" min="0">
            </div>
            <div class="form__input--timer">
                <label for="min">M</label>
                <input type="number" value="{{ data.timer.countdown | convertTimestamp('min') }}" id="min" data-timer="min" class="form__input " min="0">
            </div>
            </div>
            <div class="datepicker-wrap {{ 'hidden' if data.timer.type === 'cc' }}" data-picker-wrap="to">
                <input type="text" value="{{ data.timer.timestamp | date }}" data-datepicker="{{ data.timer.timestamp }}" class="datepicker form__input" readonly>
                <svg class="datepicker__icon"  height="24" viewBox="0 0 24 24" width="24">
                    <use xlink:href="#calendar" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                </svg>
            </div>

            </div>


                    <ul class="action-dropdown action-dropdown--timer font-size {{ 'mode-' + data.timer.order }}" data-dropdown="timerSize" data-type="timer">
            {% for item in data.sizes %}
                 <li class="action-dropdown__item {{ 'selected' if item == data.timer.size }}" data-fontSize="{{ item }}" data-el="timer">{{ item }}px</li>
            {% endfor %}
        </ul>
        <ul class="action-dropdown font-family action-dropdown--timer {{ 'mode-' + data.timer.order }}" data-dropdown="timerFamily" data-type="timer">
            {% for item in data.fonts %}
                 <li class="action-dropdown__item {{ 'selected' if item == data.timer.family }}" data-fontFamily="{{ item }}" style="font-family: {{ item }}" data-el="timer">{{ item }}</li>
            {% endfor %}
        </ul>

        </div>
            <div class="color-picker timer {{ 'mode-' + data.timer.order }} hidden" data-colorPicker="timer"></div>

        {# <div class="color-picker timer {{ 'mode-' + data.timer.order }} hidden" data-colorPicker="timer"></div> #}

        {# <ul class="action-dropdown action-dropdown--timer font-size {{ 'mode-' + data.timer.order }}" data-dropdown="timerSize" data-type="timer">
            {% for item in data.sizes %}
                 <li class="action-dropdown__item {{ 'selected' if item == data.timer.size }}" data-fontSize="{{ item }}" data-el="timer">{{ item }}px</li>
            {% endfor %}
        </ul>
        <ul class="action-dropdown font-family action-dropdown--timer {{ 'mode-' + data.timer.order }}" data-dropdown="timerFamily" data-type="timer">
            {% for item in data.fonts %}
                 <li class="action-dropdown__item {{ 'selected' if item == data.timer.family }}" data-fontFamily="{{ item }}" style="font-family: {{ item }}" data-el="timer">{{ item }}</li>
            {% endfor %}
        </ul> #}

