<h1>Create a discount</h1>
<p>Boost sales and reward your loyal customers with discounts.</p>
<button type="button" class="button-default button-base button-submit" data-create>Create discount</button>
