.main-container {
  position: relative;
  flex-grow: 1;
  flex-shrink: 0;
  width: calc(100% - 48px);
  height: auto;
  // margin-left: 40px;
  // max-height: 94%;
  z-index: 50;
  // margin-top: 50px;
  // overflow-y: auto;
  // overflow-x: hidden;
}
