<!DOCTYPE html>
<html>
  <head>
    <title>DiscountForEmailLink</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>

    <script defer src="<%= asset_pack_path 'common.js' %>"></script>
    <script defer src="<%= asset_pack_path 'app.js' %>"></script>
  </body>
</html>
