<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>
    <%= ShopifyApp.configuration.application_name %>
  </title>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <% if Rails.env.in?(%w(staging production))%>
    <%= stylesheet_pack_tag 'common' %>
    <%= stylesheet_pack_tag 'app' %>
  <% end %>
</head>
<body>
<main role="main" class="zpa-window" data-zpa-window>
  <%= yield %>
</main>
<script src="https://cdn.shopify.com/s/assets/external/app.js?<%= Time.now.strftime('%Y%m%d%H') %>"></script>

<script type="text/javascript">
  ShopifyApp.init({
    apiKey: "<%= ShopifyApp.configuration.api_key %>",
    shopOrigin: "<%= "https://#{ @shop_session.url }" if @shop_session %>",
    debug: <%= Rails.env.development? ? 'true' : 'false' %>,
    forceRedirect: true
  });

  ShopifyApp.ready(function(){
      ShopifyApp.Bar.loadingOff();
  });
</script>
<script defer src="<%= asset_pack_path 'common.js' %>"></script>
<script defer src="<%= asset_pack_path 'app.js' %>"></script>
</body>
</html>
