<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <% application_name = ShopifyApp.configuration.application_name %>
    <title><%= application_name %></title>
    <%= csrf_meta_tags %>
    <% if Rails.env.in?(%w(staging production))%>
      <%= stylesheet_pack_tag 'common' %>
      <%= stylesheet_pack_tag 'app' %>
    <% end %>
  </head>

  <body>
    <div class="app-wrapper">
      <div class="app-content">
        <main role="main">
          <%= yield %>
        </main>
      </div>
    </div>

    <%= render 'layouts/flash_messages' %>

    <script src="https://cdn.shopify.com/s/assets/external/app.js?<%= Time.now.strftime('%Y%m%d%H') %>"></script>

    <script type="text/javascript">
      ShopifyApp.init({
        apiKey: "<%= ShopifyApp.configuration.api_key %>",
        shopOrigin: "<%= "https://#{ @shop_session.url }" if @shop_session %>",
        debug: <%= Rails.env.development? ? 'true' : 'false' %>,
        forceRedirect: true
      });

       ShopifyApp.ready(function(){
          ShopifyApp.Bar.loadingOff();
      });
    </script>

    <% if content_for?(:javascript) %>
      <div id="ContentForJavascript" data-turbolinks-temporary>
        <%= yield :javascript %>
      </div>
    <% end %>

    <div class="loader" data-loader>
    	<div class="bubble bubble__1"></div>
    	<div class="bubble bubble__2"></div>
    	<div class="bubble bubble__3"></div>
    </div>

    <div class="overlay hidden" data-overlay="light"></div>
    <div class="overlay--hard hidden" data-overlay="hard"></div>
    <div class="overlay--dark hidden" data-overlay="dark"></div>

    <script defer src="<%= asset_pack_path 'common.js' %>"></script>
    <script defer src="<%= asset_pack_path 'app.js' %>"></script>
  </body>
</html>
